<label for="name">
	<f:translate key="tx_fed_domain_model_datasource.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="name" /><br />
<label for="description">
	<f:translate key="tx_fed_domain_model_datasource.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="query">
	<f:translate key="tx_fed_domain_model_datasource.query" />
</label><br />
	<f:form.textbox property="query" /><br />
<label for="func">
	<f:translate key="tx_fed_domain_model_datasource.func" />
</label><br />
	<f:form.textbox property="func" /><br />
<label for="url">
	<f:translate key="tx_fed_domain_model_datasource.url" />
</label><br />
	<f:form.textbox property="url" /><br />
<label for="urlMethod">
	<f:translate key="tx_fed_domain_model_datasource.url_method" />
</label><br />
	<f:form.textbox property="urlMethod" /><br />
<label for="templateFile">
	<f:translate key="tx_fed_domain_model_datasource.template_file" />
</label><br />
	<f:form.upload property="templateFile" /><br />
<label for="templateSource">
	<f:translate key="tx_fed_domain_model_datasource.template_source" />
</label><br />
	<f:form.textarea property="templateSource" cols="40" rows="15" /><br />