<table class="tx-fed-pi1" >
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.name" />
		</td>
		<td>
			{dataSource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.description" />
		</td>
		<td>
			{dataSource.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.query" />
		</td>
		<td>
			{dataSource.query}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.func" />
		</td>
		<td>
			{dataSource.func}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.url" />
		</td>
		<td>
			{dataSource.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.url_method" />
		</td>
		<td>
			{dataSource.urlMethod}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.template_file" />
		</td>
		<td>
			{dataSource.templateFile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fed_domain_model_datasource.template_source" />
		</td>
		<td>
			{dataSource.templateSource}
		</td>
	</tr>
</table>