
#head {
	height: 150px;
	position: relative;
}

#menu {
	position: absolute;
	top: 0px;
	right: 0px;
}

ul.mainmenu {
	position: absolute;
	right: 0px;
	top: 50px;
}

ul.mainmenu li {
	margin: 0px 0px 0px 10px;
	list-style-type: none;
	display: inline;
}

ul.mainmenu li a {
	background: #6c564c;
	padding: 8px 10px;
	color: white;
	-webkit-border-radius: 2px;
}

ul.mainmenu li a:hover {
	text-decoration: none;
}

ul.mainmenu li.current a {
	background: #482e2a;
}

a.languageSwitcher {
	position: absolute;
	top: 10px;
	right: 0px;
	color: #464646;
}

ul.bottommenu {
	margin-top: 60px;
	text-align: right;
}

ul.bottommenu li {
	display: inline;
	list-style-type: none;
	margin: 0 0 0 8px;
	padding: 0 6px;
}

ul.bottommenu li.current {
	font-weight: bold;
}

ul.bottommenu li a {
	color: #464646;
}

#head p.bodytext {
	position: absolute;
	top: 0px;
	left: -5px;
	margin: 0px;
	padding: 0px;
	text-indent: -9999em;
	height: 100px;
	width: 240px;
	background: transparent url(logo_separate.png) no-repeat 0px 0px;
}


a {
	text-decoration: none;
	color: #039;
}

a:link:hover {
	text-decoration: underline;
}


/*
Make elements invisible without really removing them,
so they remain available to screen readers. Make links inside those elements
visible when they're tabbed to.
*/
.invisible {
	position: absolute;
	left: -9999em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.invisible a:focus, .invisible a:active {
	display: block;
	position: absolute;
	left: 10000em;
	top: 1em;
	width: auto;
	height: auto;
	white-space: nowrap;
}



/*  ===  ===  ===  ===  ===

# Typography CSS

Author: Henrik Cederblad (Cederblad Design)

## Sizes scratchpad (N.B. it shouldn't, but, may differ from actual CSS)

Entity:             Size:            Leading (line-height):

* Base (body)       12px             10px / 0.833

* Heading 1         20px / 1.667em   16px / 1.333
* Heading 2         16px / 1.333em   14px / 1.167
* Heading 3         14px / 1.167em   12px / 1.000
* Paragraph         12px / 1.000em   10px / 0.833
* Heading 4         12px / 1.000em   12px / 1.000

### Notes:

1. Omit units when declaring line-heights as to not break inheritance of relative line-height (see: "Unitless line-heights"; http://j.mp/r8zR7X)

===  ===  ===  ===  ===  */


/* @group global base values
## Global base values

* base font stack (based on: http://www.awayback.com/revised-font-stack/)
* base font size
* base line height
* margins
* paddings
* base weight
* letter spacing
* base color
*/
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: normal;
    color: black;
}


/*
## Typography

Everything that deviates from base values goes below …
_N.B. Ok to use inherit if same as base value, for easier reading._
*/
h1 {
    font-family: inherit;
    font-size: 1.6666666666666667em;
    line-height: 0.9;
    margin: 0;
    margin-bottom: 0.9em;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #ac3381;
}

h2 {
    font-family: inherit;
    font-size: 1.5em;
    line-height: 1;
    margin: 0;
    margin-bottom: 1em;
    font-weight: inherit;
    letter-spacing: inherit;
}

h1, h2, h3, h4, h5, h6, .pz2-details dt {
	color: #6c564c;
}

h3 {
    font-family: inherit;
    font-size: 1.3333333333333333em;
    line-height: 1.125;
    margin: 0;
    margin-bottom: 1.125em;
    font-weight: bold;
    letter-spacing: inherit;
}

h4, h5, h6 {
    font-family: inherit;
    font-size: 1.1666666666666667em;
    line-height: 1.2857142857142858;
    margin: 0;
    margin-bottom: 1.2857142857142858em;
    font-weight: bold;
    letter-spacing: inherit;
}

p, ul, blockquote, pre, td, th {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 1.5em;
    font-weight: inherit;
    letter-spacing: inherit;
    color: inherit;
}

p.small {
    font-family: inherit;
    font-size: 0.8333333333333334em;
    line-height: 1.8;
    margin: 0;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
    margin-bottom: 1.8em;
    color: inherit;
}

table {
    border-collapse: collapse;
    margin-bottom: 1.5em;
}

#pazpar2 .pz2-mediaIcon {
	background-image: url(geo-leo_mediatype_icons_v103_trsp.png);
}

#pazpar2 a.pz2-recordLink {
	color: #464646;
}

#pazpar2 .pz2-title-main {
	color: #039;
}

#pazpar2 .pz2-recordLink:after {
	position: relative;
	bottom: -1px;
	content: url(magnifier.png);
}

#pazpar2 .pz2-recordLink:hover:after {
	content: url(magnifier_hover.png);
}

#pazpar2 .pz2-detail-catalogueLink {
	padding: 1px 12px 1px 4px;
	background: #d9dbe4 url(arrow_single_right.png) right center no-repeat;
}

#pazpar2 .pz2-detail-catalogueLink:after {
	margin: 0;
	content: '';
}

#pazpar2 .pz2-termList-xtargets a {
	color: #6c564c;
}

#pazpar2 .pz2-facetName {
	color: #039;
}

#pazpar2 #pz2-results ol.pz2-resultList li {
	margin-bottom: 10px;
	padding-right: 10px;
}

#pazpar2 .pz2-progressIndicator {
	background: transparent;
	border-bottom: 1px solid #6c564c;
}

#pazpar2 .pz2-termList .pz2-progressIndicator {
	display: none;
}

#pazpar2 .pz2-recordCount {
	color: #464646;
}

#pazpar2 .pz2-prev,
#pazpar2 .pz2-next {
	display: inline-block;
	height: 12px;
	width: 16px;
	text-indent: -9999em;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#pazpar2 .pz2-prev {
	background-image: url(arrow_double_left_inactive.png);
}

#pazpar2 a.pz2-prev {
	background-image: url(arrow_double_left_active.png);
}

#pazpar2 .pz2-next {
	background-image: url(arrow_double_right_inactive.png);
}

#pazpar2 a.pz2-next {
	background-image: url(arrow_double_right_active.png);
}

#pazpar2 #pz2-results ol.pz2-resultList li.pz2-detailsVisible {
	border-left-color: #6c564c;
}

#pazpar2 #pz2-results .pz2-extraLinks ul li input,
#pazpar2 #pz2-results .pz2-extraLinks ul li a {
	color: #999;
}

#pazpar2 #pz2-results .pz2-extraLinks:hover ul li input,
#pazpar2 #pz2-results .pz2-extraLinks:hover ul li a {
	color: #6c564c;
}

#pz2-results .pz2-extraLinks ul li input:hover,
#pz2-results .pz2-extraLinks ul li a:hover {
	text-decoration: underline;
}

#pazpar2 .pz2-details {
	padding: 10px 0px 20px;
}

#pazpar2 .pz2-details dt {
	width: 160px;
	margin-bottom: 5px;
}

#pazpar2 .pz2-details dd {
	margin-left: 180px;
	margin-bottom: 5px;
}

#pazpar2 .pz2-details ul {
	list-style-type: disc;
}

#pazpar2 .pz2-details dd.pz2-googleBooks {
	padding-top: 2px;
}

#pazpar2,
.gokContainer,
.tx-ezbrequest-pi1 {
	margin: 1em 10px;
}

#pazpar2 #pz2-results {
	margin: 0px;
}

#pazpar2 .pz2-resultList .pz2-mediaIcon {
	top: -2px;
}

#pazpar2 .pz2-ZDBInfo h5 {
	font-size: 100%;
	margin: 0px;
}

#pazpar2 #pz2-results ol.pz2-resultList li .pz2-details li {
	margin: 0px;
}

#pazpar2 .pz2-mainForm {
	line-height: 25px;
}

#pazpar2 .pz2-field-all .pz2-searchField {
	width: 350px;
}

#pazpar2 .pz2-searchField {
	background-color: #f8f5f3;
}

#pazpar2 .pz2-extended .pz2-searchField {
    height: 18px;
	width: 254px;
}

#pazpar2 .pz2-extended .pz2-submitButton {
    height: 24px;
}

#pazpar2 .pz2-extended .pz2-extendedLink {
	line-height: 24px;
}



/* OVERRIDE EZBREQUEST STYLING */
.tx-ezbrequest-pi1 {
	line-height: 18px;
}

.tx-ezbrequest-pi1 a:link {
	text-decoration: none;
	font-weight: normal;
}

.tx-ezbrequest-pi1 a:link:hover {
	text-decoration: underline;
}

.tx-ezbrequest-pi1 #journalNavi {
	float: left;
	margin-bottom: 20px;
}

.tx-ezbrequest-pi1 #journalNavi a:link {
	padding: 0 3px;
}

.tx-ezbrequest-pi1 #journalNavi .act {
	font-weight: bold;
	padding: 0 3px;
}

.tx-ezbrequest-pi1 #ezb_search_form fieldset {
	border: 0px none;
	text-align: right;
}

.tx-ezbrequest-pi1 #ezbSearchForm {
	display: none;
}

.tx-ezbrequest-pi1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.tx-ezbrequest-pi1 #journalNavi .alphabetMenu li {
	display: inline;
}

.tx-ezbrequest-pi1 #journalList li {
	position: relative;
	margin-left: 50px;
}

.tx-ezbrequest-pi1 #journalList li span.ampel {
	position: absolute;
	left: -50px;
	top: 0.2em;
}

.tx-ezbrequest-pi1 ul.firstlist {
	margin-bottom: 1em;
}

.tx-ezbrequest-pi1 ul.nextlist {
	margin-top: 1em;
}

.tx-ezbrequest-pi1 #journalList {
	clear: left;
}

.tx-ezbrequest-pi1 #journalList a img {
	margin-right: 20px;
	border: 0px none;
}

.tx-ezbrequest-pi1 #jourItem .title {
	display: block;
	font-size: 166%;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.tx-ezbrequest-pi1 table td {
	vertical-align: top;
}

.tx-ezbrequest-pi1 table td b {
	display: block;
	text-align: right;
	margin-right: 20px;
	width: 180px;
}

.tx-ezbrequest-pi1 fieldset {
	margin-right: 10px;
	text-align: right;
}

/* style like .pz2-searchField */
.tx-ezbrequest-pi1 input.iputStartSmall {
	margin: 0px 6px 2px 0px;
	padding: 2px;
	color: #333333;
	background: #f3f5f9;
	border-style: solid;
	border-width: 1px;
	border-color: #b3b3b3 #d2d2d2 #d2d2d2 #b3b3b3;
	width: 220px;
}

/* style like .pz2-submitButton */
.tx-ezbrequest-pi1 input.submStartSmall {
	height: 23px;
	background: url(../../typo3conf/ext/pazpar2/Resources/Public/button_shade_small.png) repeat-x scroll 0 100% #f3f6fb;
	border-style: solid;
	border-width: 1px;
	border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
	border-radius: 3px 3px 3px 3px;
	border-right: 1px solid #b4b4b4;
	color: #555555;
	font-weight: bold;
	line-height: 100%;
	padding: 3px 12px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
	text-transform: uppercase;
}

.tx-ezbrequest-pi1 input.submStartSmall:active {
	background-image: url(../../typo3conf/ext/pazpar2/Resources/Public/button_shade_small_click.png);
}





/*
## Notes

### Resources:

1.  http://www.sitepoint.com/eight-definitive-font-stacks-2/
2.  http://www.jan-quickels.de/tools-web-typography/ (calculation tool)
3.  http://pxtoem.com/ (calculation tool)
4.  http://www.alistapart.com/articles/settingtypeontheweb (baseline grid)
5.  http://topfunky.com/baseline-rhythm-calculator/ (baseline rhythm calculator)
*/





.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.grid_4, .grid_8, .grid_12, .grid_16,
#content .csc-default,
#content .csc-frame-frame1,
#content .csc-frame-frame2,
#pazpar2,
.container_16 #pz2-results,
.gokContainer,
.tx-ezbrequest-pi1 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.push_4, .pull_4, .push_8, .pull_8, .push_12, .pull_12, .push_16, .pull_16 {
	position: relative;
}

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

.container_16 .grid_4,
#content .csc-frame-frame1 {
	width: 220px;
}

.container_16 .grid_8,
#content .csc-frame-frame2 {
	width: 460px;
}

.container_16 .grid_12,
#content .csc-default,
.container_16 .pz2-JSNote,
.container_16 #pz2-results {
	width: 700px;
}

* html .container_16 #pz2-results {
	width: 690px;
}

.container_16 .grid_16,
#pazpar2,
.gokContainer,
.tx-ezbrequest-pi1 {
	width: 940px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}




/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
	height: 100%;
}

body {
	background: url(bg1.png) repeat;
}

#page {
	background: url(header_repeat.png) repeat-x 64% 0%;
	min-height: 100%;
}

#head {
	background: url(header_wo_logo.png) no-repeat top center;
}

#content {
	overflow:auto;
	margin-top: 30px;
	padding-bottom: 100px;
}  /* must be same height as the footer */

#foot {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	background: url(footer_bg.png) repeat-x bottom center;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/