[submodule "typo3conf/ext/pazpar2"]
	path = typo3conf/ext/pazpar2
	url = git@github.com:ssp/typo3-pazpar2.git
[submodule "typo3conf/ext/nkwgok"]
	path = typo3conf/ext/nkwgok
	url = git@github.com:ssp/typo3-nkwgok.git
