<IfModule mod_rewrite.c>
	RewriteEngine On

	# Opac To Atom Script
	RewriteRule opac.atom fileadmin/opac/opac-feed2.php [L]

	# Redirect vlib-math.de domain to /?L=1
	RewriteCond %{HTTP_HOST} vlib-math\.de$ [NC]
	RewriteRule .* http://vifamath.de/?L=1 [L,R=301]

	# Ensure canonical host name
	RewriteCond %{HTTP_HOST} !^vifamath\.de [NC]
	RewriteCond %{HTTP_HOST} !^10.0.* [NC]
	RewriteCond %{HTTP_HOST} !^vlib3.sub.uni-goettingen.de [NC]
	RewriteCond %{HTTP_HOST} !^$
	RewriteRule ^/?(.*) http://vifamath.de/$1 [L,R=301,NE]

	# Redirect TYPO3 backend requests to SSL connections if SSL is available.
	<IfDefine SSL>
		RewriteCond %{HTTPS} off
		RewriteCond %{REQUEST_URI} /typo3/.*
		RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
	</IfDefine>

	# Redirect for old search plug-in.
	RewriteCond %{REQUEST_URI} /recherche/over-all-search/ [OR]
	RewriteCond %{REQUEST_URI} /recherche/ergebnisse/
	RewriteCond %{QUERY_STRING} query=([^&]*)
	RewriteRule ^(.*)$ /?tx_pazpar2_pazpar2[queryString]=%1 [L,R=301]

	# Redirects for RealURL
	RewriteRule ^typo3$ - [L]
	RewriteRule ^typo3/.*$ - [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule .* index.php

</IfModule>
