
# Redirect e-docs path to e-docs subdomain
RedirectMatch 301 geo-leo-e-docs(.*) http://e-docs.geo-leo.de/


<IfModule mod_rewrite.c>
	RewriteEngine On

	# Ensure canonical host name
	RewriteCond %{HTTP_HOST} !^geo-leo\.de [NC]
	RewriteCond %{HTTP_HOST} !^10.0.* [NC]
	RewriteCond %{HTTP_HOST} !^$
	RewriteRule ^/?(.*) http://geo-leo.de/$1 [L,R,NE]

	# Opac To Atom Script
	RewriteRule opac.atom fileadmin/opac/opac-feed2.php [L]

	# Redirect geo-guide.de domain to /geo-guide
	RewriteCond %{HTTP_HOST} geo-guide\.de [NC]
	RewriteRule ^/.*$ http://geo-leo.de/geo-guide [L,R,NE]

	# Redirect TYPO3 backend requests to SSL connections if SSL is available.
	<IfDefine SSL>
		RewriteCond %{HTTPS} off
		RewriteCond %{REQUEST_URI} /typo3/.*
		RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
	</IfDefine>

	# Redirects for RealURL
	RewriteRule ^typo3$ - [L]
	RewriteRule ^typo3/.*$ - [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule .* index.php

</IfModule>
