.fed-sortable {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}
.fed-sortable th {
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: center left;
    padding-left: 18px;
    text-align: left;
}

.fed-sortable tr.even td,
.fed-sortable th, .fed-sortable thead td {
	background-color: #EDEDED;
}

.fed-sortable tr.off {
	display: none;
}

.data td { }
.data { margin-bottom: 8px; }
.dataTables_info,
.dataTables_paginate,
.dataTables_filter,
.dataTables_length {
	padding: 4px;
	background-color: #EFEFEF;
	text-align: center;
	overflow: auto;
}
.dataTables_filter { text-align: left; }
.dataTables_length { float: right; }
.paginate_button,
.paginate_active {
	cursor: pointer;
	margin: 0px 8px 0px 0px;
	text-decoration: underline;
	text-align: center;
	display: inline-block;
	width: 20px;
}
.dataTables_paginate .first,
.dataTables_paginate .previous { float: left; width: auto; }
.dataTables_paginate .last,
.dataTables_paginate .next { float: right; width: auto; }
.dataTables_paginate .paginate_active { font-weight: bold; text-decoration: none; }