<!-- ###DOCUMENT_BODY### -->

<div id="outer-wrapper">

<div id="header">

<!-- ###HEADER### -->
	
	<div id="container">
	<!-- ###HEADER_CONTAINER### -->
			<div id="quicksearch">
			<!-- ###QUICKSEARCH### -->
			<form action="/search.html" method="get" name="top_search">
				<div>
					<input id="qs-input" style="background:rgb(255, 255, 255) url(http://www.vifa-math.de/images/metasuche_schatten_16.gif) no-repeat scroll left bottom" onFocus="quicksearch_bg(this.id,'focus')" onBlur="quicksearch_bg(this.id,'blur')"  size="41" name="query" maxlength="251" >
					<input type="submit" class="button" value="Suchen" >

					<input type="hidden" name="request" value="search_results" > 
					<input type="hidden" name="domain" value="Dome" >

					<input type="hidden" name="dbgroup" value="vifamath" >
					<input type="hidden" name="lang" value="de" >
					<input type="hidden" name="numrec" value="10" >
				</div>
			</form>
			<a href="/search.html?request=search_form&amp;which=advanced&amp;dbgroup=vifamath&amp;lang=de">
				Erweiterte Suche
			</a>

		<!-- ###QUICKSEARCH### -->
		</div><!-- end quicksearch -->
	
		<div id="head_navigation">
		<strong> mySite </strong><a href="index.php?id=4" target="_self"  >Services</a><a href="index.php?id=2" target="_self"  >Interaktiv</a>
		</div><!-- end head_navigation -->
	<!-- ###HEADER_CONTAINER### -->
	</div><!-- end container -->

<!-- ###HEADER### -->

</div><!-- end header -->
	<div id="outer-content-wrapper">
	   <div id="teaser">

		<div id="breadcrumbs">
		<!-- ###BREADCRUMBS### -->
		
		<!-- ###BREADCRUMBS### -->
		<hr/>
		</div>
		

	   </div>
		<div id="inner-content-wrapper">

			<div id="middle">

				<div id="middle-content">

					<!-- ###MIDDLE-MARKER### -->
						
						
					<!-- ###MIDDLE-MARKER### -->

				</div>

			</div>

			<div id="left">

				<div id="left-content">

					<div id="left-menu-box">

						<div id="left-menu">
						<!-- ###LEFT-MENU### -->
						
						<!-- ###LEFT-MENU### -->
						</div>

					</div>

					<div id="left-marker-box">

						<div id="left-marker">
						###LEFT-MARKER###</div>

					</div>

				</div>

			</div>

		</div>

		<div id="right">

			<div id="right-content">

			###RIGHT-MARKER###

			</div>

		</div>

			<div class="cleaner"></div>
	     </div><!-- end inner-content -->
	

		<div id="footer">

			<div id="footer-box">

				<div id="footer-text">

					<a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.it-bo.com/typo3-agentur/typo3-templates/" title="TYPO3 Templates">TYPO3 Templates</a> | <a href="http://www.it-bo.com/typo3-agentur/" title="TYPO3 Agentur">TYPO3 Agentur</a> | <a href="http://www.it-bo.com/" title="IT-Bo">IT-Bo</a>

				</div><!-- footer-text>

			</div><!-- footer-box -->

		</div><!-- footer -->

	

</div><!-- end outer-content-->
</div><!-- end outer wrapper -->

<!-- ###DOCUMENT_BODY### -->

