<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<title>Internetpräsenz der Virtuellen Fachbibliothek Mathematik ViFaMATH</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="publisher" content="" />
<meta name="copyright" content="" />
<meta name="content-language" content="de" />
<meta name="language" content="de" />
<meta name="audience" content="" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="revisit-after" content="" />
<style type="text/css" media="screen">
<!--
@import url("fileadmin/template/css/screen.css");
-->
</style>
<!--[if IE 8]>
<link rel="stylesheet" href="fileadmin/template/css/screenIE8.css" type="text/css" media="screen" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="fileadmin/template/css/screenIE7.css" type="text/css" media="screen" />
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" href="fileadmin/template/css/screenIE6.css" type="text/css" media="screen" />
<![endif]-->
<link rel="stylesheet" href="fileadmin/template/css/print.css" type="text/css" media="print" />
<link rel="shortcut icon" href="fileadmin/template/favicon.ico" />
</head>
<body>
<!-- ###DOCUMENT_BODY### -->
<div id="mainContainer">
<!-- <div id="accesskeys">
</div> -->
<div id="kopfleiste">
	<div id="logoleiste">###LOGOLINK###</div>
	<div id="aktionsbild"><img src="fileadmin/template/images/content/con_tafel.jpg" alt="Ein voll beschriebener Tafel" title="Fotonachweis: Christian Fries" /></div>
    	###TOPNAV###
</div>
	<!-- ###MIDDLE### -->
	<!-- end ###MIDDLE### -->
	<div id="contentContainer">
	<!-- ###CONTENT### -->
	<!-- end ###CONTENT### -->
	</div>
	<div id="sponsorleiste">
	<!-- ###FOOT### -->
	<!-- ende ###FOOT### -->
	</div>
</div>
<!-- end ###DOCUMENT_BODY### -->
</body>
</html>
