<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<title>SUB Göttingen</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="author" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="publisher" content="" />
<meta name="copyright" content="" />
<meta name="content-language" content="de" />
<meta name="language" content="de" />
<meta name="audience" content="" />
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="revisit-after" content="" />
</head>
<body>
<!-- ###DOCUMENT_BODY### -->
<div id="mainContainer">
	<div id="head">
		<h1>Niedersächsiche Staats- und Universitätsbibliothek Göttingen</h1>
		<h2>Georg-August-Universität Göttingen</h2> 
	</div>	
	<div id="contentContainer">
	<!-- ###CONTENT### -->
	<!-- end ###CONTENT### -->
	</div>
</div>
<!-- end ###DOCUMENT_BODY### -->
</body>
</html>
