<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="language" content="de">
  <title> ViFaMATH: Virtuelle Fachbibliothek Mathematik </title>


<link rel="stylesheet" href="css/structures2.css" type="text/css"></link>

<link rel="stylesheet" href="css/index.css" type="text/css"></link>

</head>
<body>

<hr class="invis">
<div id="wrapper">
	<div id="header">
	<a class="home" href="/index.html?lang=de">
  	<img src="images/banner.jpg" alt="ViFaMATH" style="border: 0px none ;">
	</a>
		<div id="container">
			<div id="quicksearch">
			<form action="/search.html" method="get" name="top_search">
			<div>
  				<input size="41" name="query" maxlength="251">
  				<input class="button" value="Suchen" type="submit">
  				<input name="request" value="search_results" type="hidden">
  				<input name="domain" value="Dome" type="hidden">
  				<input name="dbgroup" value="vifamath" type="hidden">
  				<input name="lang" value="de" type="hidden">
			</div>
			</form>
			<a href="/search.html?request=search_form&amp;which=advanced&amp;dbgroup=vifamath&amp;lang=de">
			Erweiterte Suche
			</a>
	
			</div><!-- end quicksearch -->
			<div id="head_navigation">
				<a href="/index.html?lang=de">
				Home
				</a>
				<span class="invis">
					|
				</span>
				<a href="/sitemap.html?lang=de">
				Sitemap
				</a>
				<span class="invis">
				|
				</span>
				<a href="/impressum.html?lang=de">
				Impressum
				</a>
				&nbsp;-&nbsp;
				<a href="/index.html?&amp;lang=en">
				English
				</a>
			</div>
			<!-- end head_navigation -->
		
		</div>
		<!-- end container -->

	</div> <!-- end header -->

<div id="menue">
	
	<div class="menue-level1-no"><a href="/new.html?lang=de" class="top_nav">
	Aktuell</a></div>

	<div class="menue-level1-no"><a href="/news_mathjahr.html?lang=de" class="sub_nav">
Mathematikjahr 2008
	</a></div>

	<div class="menue-level1-no"><a href="/news_euler.html?lang=de" class="sub_nav">
	Euler 2007
	</a></div>

	<div class="menue-level1-no"><a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de" class="top_nav">
	Recherche
	</a></div>

	<div class="menue-level1-no"><a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de" class="sub_nav">
	Gesamtsuche
	</a></div>
	
</div>
<!-- id="menue" -->


<div id="content">
Herzlich Willkommen ....
<br>Weiterer Content
</div>


<p style="clear: both;">

</p>



<!-- id=wrapper -->
</div>
</body>
</html>

