<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="language" content="de">
  <meta name="author" content="ViFaMATH">
  <meta name="publisher" content="SUB, Staats- und Universitätsbibliothek Göttingen">
  <meta name="copyright" content="ViFaMATH">
  <meta name="keywords" content="Virtuelle Fachbibliothek,Mathematik,ViFaMATH,Recherche,Portal,Suche" lang="de">
  <meta name="keywords" content="virtual library,mathematics,VLibMath,research,portal" lang="en">
  <meta name="page-topic" content="ViFaMATH - Virtuelle Fachbibliothek Mathematik,Wissenschaft und Bildung/Bibliotheken,Internet und WWW/Services,Wissenschaft und Bildung/Mathematik,Wissenschaft und Bildung/Uni,Forschung und Lehre">
  <meta name="language" content="Deutsch">
  <meta name="distribution" content="global">
  <meta name="page-type" content="Portal">
  <meta name="revisit-after" content="7 days">
  <meta name="DC.creator" content="ViFaMATH">
  <meta name="DC.publisher" content="Staats- und Universitätsbibliothek Göttingen, SUB Göttingen">
  <meta name="DC.type" content="Text">
  <meta name="DC.format" content="text/html">
  <meta name="DC.identifier" content="http://www.vifa-math.de">
  <meta name="DC.language" content="de,en">
  <meta name="DC.rights" content="http://www.vifa-math.de/impressum.html">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta name="DC.title" content="ViFaMATH - Virtuelle Fachbibliothek Mathematik" lang="de">
  <meta name="DC.title.alternative" content="ViFaMATH - Virtual Library of Mathematics" lang="en">
  <meta name="DC.subject" content="Virtuelle Fachbibliothek,Virtuelle Bibliothek,Mathematik,ViFaMATH,Recherche,Portal,Metasuche,Bibliothekskataloge,Internetseiten,Internetquellen,MathGuide,Literatur,elektronische,wissenschaftliche,Publikationen,Artikel,Zeitschriften,Forschungsberichte,Online Dokumente,Rezensionsdienste,Rezensionen,Thematischer Katalog,Browsen,Katalogsuche,Literatursuche,e-journals,informationsvermittlung,literaturvermittlung,digitale volltexte">
  <meta name="DC.description" content="ViFaMATH ist die virtuelle Fachbibliothek für Mathematik. Das Portal erleichtert die Recherche nach mathematisch relevanten Informationen und bietet dazu unter anderem eine Gesamtsuche über die eingebundenen Komponenten an.">
  <meta name="description" content="ViFaMATH ist die virtuelle Fachbibliothek für Mathematik. Das Portal erleichtert die Recherche nach mathematisch relevanten Informationen und bietet dazu unter anderem eine Gesamtsuche über die eingebundenen Komponenten an." lang="de">
<title>
ViFaMATH: Virtuelle Fachbibliothek Mathematik
</title>
<script type="text/javascript">
<!--
if (document.layers)
document.write('\<link rel="stylesheet" type="text/css" href="css/none.css" />');
//for Netscape 4
//-->
</script>
<script type="text/javascript" src="/include/index.js">

</script>
<style type="text/css">
<!-- /* general styles */ @import url("/css/structures.css"); @import url("/css/formats.css");-->
</style>
<style type="text/css">
/* specific style file */ @import url("/css/index.css");
</style>
</head>
<body>
<div id="top">
<a href="#content" class="invis">
Zum Inhalt springen
</a>
</div>
<hr class="invis">
<div id="wrapper">
<div id="header">
<a class="home" href="/index.html?lang=de">
  <img src="images/banner.jpg" alt="ViFaMATH" style="border: 0px none ;">
</a>
<div id="container">
<div id="quicksearch">
<form action="/search.html" method="get" name="top_search">
<div>
  <input size="41" name="query" maxlength="251">
  <input class="button" value="Suchen" type="submit">
  <input name="request" value="search_results" type="hidden">
  <input name="domain" value="Dome" type="hidden">
  <input name="dbgroup" value="vifamath" type="hidden">
  <input name="lang" value="de" type="hidden">
</div>
</form>
<a href="/search.html?request=search_form&amp;which=advanced&amp;dbgroup=vifamath&amp;lang=de">
Erweiterte Suche
</a>
</div>
<!-- end quicksearch -->
<div id="head_navigation">
<a href="/index.html?lang=de">
Home
</a>
<span class="invis">
|
</span>
<a href="/sitemap.html?lang=de">
Sitemap
</a>
<span class="invis">
|
</span>
<a href="/impressum.html?lang=de">
Impressum
</a>
&nbsp;-&nbsp;
<a href="/index.html?&amp;lang=en">
English
</a>
</div>
<!-- end head_navigation -->
</div>
<!-- end container -->
</div>
<!-- end header -->
<div id="menue">
<p>
<a href="/new.html?lang=de" class="top_nav">
Aktuell
</a>
<span class="invis">
:
</span>
<a href="/news_mathjahr.html?lang=de" class="sub_nav">
Mathematikjahr 2008
</a>
<span class="invis">
:
</span>
<a href="/news_euler.html?lang=de" class="sub_nav">
Euler 2007
</a>
<span class="invis">
  <br>
</span>
<a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de" class="top_nav">
Recherche
</a>
<span class="invis">
:
</span>
<a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de" class="sub_nav">
Gesamtsuche
</a>
<span class="invis">
</span>
<a href="/search.html?request=databases&amp;dbgroup=internet&amp;lang=de" class="sub_nav">
- Internetseiten
</a>
<span class="invis">
</span>
<a href="/search.html?request=databases&amp;dbgroup=mathLibCatalogues&amp;lang=de" class="sub_nav">
- Bibliothekskataloge
</a>
<span class="invis">
</span>
<a href="/search.html?request=databases&amp;dbgroup=journals&amp;lang=de" class="sub_nav">
- Artikel
</a>
<span class="invis">
</span>
<a href="/search.html?request=databases&amp;dbgroup=electronicresource&amp;lang=de" class="sub_nav">
- Online Dokumente
</a>
<span class="invis">
|
</span>
<a href="/journals.html?lang=de" class="sub_nav">
Zeitschriftenliste
</a>
<span class="invis">
|
</span>
<a href="/reviews.html?lang=de" class="sub_nav">
Rezensionsdienste
</a>
<span class="invis">
|
</span>
<a href="/subject_catalogue.html?lang=de" class="sub_nav">
Thematischer Katalog
</a>
<span class="invis">
|
</span>
<a href="/zamn/index.html?lang=de" class="sub_nav">
Mathematik-Nachlässe
</a>
<span class="invis">
  <br>
</span>
<a href="/service.html?lang=de" class="top_nav">
Services
</a>
<span class="invis">
:
</span>
<a href="/delivery.html?lang=de" class="sub_nav">
Lieferdienste
</a>
<span class="invis">
|
</span>
<a href="/search.html?request=history&amp;bc=&amp;tpp=&amp;lang=de" class="sub_nav">
Suchgeschichte
</a>
<span class="invis">
|
</span>
<a href="/search.html?request=saved_records&amp;bc=&amp;tpp=&amp;lang=de" class="sub_nav">
Sammelmappe
</a>
<span class="invis">
  <br>
</span>
<a href="/about.html?lang=de" class="top_nav">
Über die ViFaMATH
</a>
<span class="invis">
:
</span>
<a href="/about.html?lang=de" class="sub_nav">
Über uns
</a>
<span class="invis">
|
</span>
<a href="/description.html?lang=de" class="sub_nav">
Projektbeschreibung
</a>
<span class="invis">
|
</span>
<a href="/partner.html?lang=de" class="sub_nav">
Partner
</a>
<span class="invis">
  <br>
</span>
<a href="/interactive.html?lang=de" class="top_nav">
Interaktiv
</a>
<span class="invis">
:
</span>
<a href="/contact.html?lang=de" class="sub_nav">
Kontakt
</a>
<span class="invis">
|
</span>
<a href="/newsletter.html?lang=de" class="sub_nav">
Newsletter
</a>
<a href="/cgi-bin/ssgfi/notify.pl?db=vifamath&amp;lang=de" class="sub_nav">
Website vorschlagen
</a>
</p>
<p style="margin: 30px 0px 10px;">
<a href="http://validator.w3.org/check?uri=referer">
  <img src="/images/valid-html401.png" title="validate HTML" alt="Valid HTML 4.01" height="31" width="88">
</a>
</p>
</div>
<!-- id="menue" -->
<div class="blank" id="top_blank">
</div>
<div id="content">
<!-- BEGIN of variable Content -->
<h2>
Herzlich Willkommen
</h2>
<h4>
in der Virtuellen Fachbibliothek Mathematik - Ihrem Rechercheportal!
</h4>
<div id="main_search" style="border-top: 1pt solid grey; font-size: 85%; margin-top: 10px; padding-top: 15px;">
<div id="google_cse_form" style="">
<h5 style="margin-bottom: 5px;">
Volltextsuche in mathematisch relevanten Internetquellen
</h5>
<form id="searchbox_012361410450410291409:remboy3b5-k" action="/googlesearchresults.html" method="get">
<div style="margin-left: 20px;">
<noscript>
<p class="no_js_warning">
Die Anzeige der Ergebnisse benötigt JavaScript
</p>
</noscript>
  <input style="background: rgb(255, 255, 255) url(http://www.google.com/coop/intl/en/images/google_custom_search_watermark.gif) no-repeat scroll left center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" size="53" name="q" maxlength="251">
  <input class="button" value="Suchen" type="submit">
  <input name="cx" value="012361410450410291409:fp03p_ob_pa" type="hidden">
  <input name="sa" value="Search" type="hidden">
  <input name="cof" value="CX:ViFaMath;FORID:11" type="hidden">
  <input name="num" value="10" type="hidden">
  <input name="client" value="google-coop-np" type="hidden">
  <input name="hl" value="de" type="hidden">
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_012361410450410291409%3Aremboy3b5-k">
</script>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_012361410450410291409%3Afp03p_ob_pa">
</script>
</div>
</form>
<!-- end google_search_form -->
</div>
  <br>
<div id="vifamath_search_form">
<h5 style="margin-bottom: 5px;">
Gesamtsuche in allen Quellen der Virtuellen Fachbibliothek
</h5>
<form action="/search.html" method="get" name="top_search">
<div style="margin-left: 20px;">
  <input size="53" name="query" maxlength="251">
  <input class="button" value="Suchen" type="submit">
  <input name="request" value="search_results" type="hidden">
  <input name="domain" value="Dome" type="hidden">
  <input name="dbgroup" value="vifamath" type="hidden">
  <input name="lang" value="de" type="hidden">
</div>
</form>
<!-- end vifamath_search_form -->
</div>
<!-- end main_search -->
</div>
<table class="justify" border="0" cellpadding="5" cellspacing="8">
<tbody>
<tr>
<td>
<h5>
<a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de" class="titlelink">
Gesamtsuche
</a>
</h5>
Metasuche über Internetseiten, Bestände mathematisch relevanter Bibliotheken, Zeitschriften und Online Dokumente.
</td>
<td>
<h5>
<a href="/reviews.html?lang=de" class="titlelink">
Rezensionsdienste
</a>
</h5>
Rezensionsdienste bzw. Referateorgane bieten Zusammenfassungen und Rezensionen zu Artikeln und Büchern.
</td>
</tr>
<tr>
<td>
<h5>
<a href="/search.html?request=databases&amp;dbgroup=internet&amp;lang=de" class="titlelink">
Internetseiten
</a>
</h5>
Suche in einer Datenbank mit mathematischen Internetseiten. Die Seiten sind beschrieben und klassifiziert.
</td>
<td>
<h5>
<a href="/subject_catalogue.html?lang=de" class="titlelink">
Thematischer Katalog
</a>
</h5>
Thematisches Browsing nach der Mathematics Subject Classification (MSC) durch Internetseiten, SUB Katalog etc.
</td>
</tr>
<tr>
<td>
<h5>
<a href="/search.html?request=databases&amp;dbgroup=electronicresource&amp;lang=de" class="titlelink">
Online Dokumente
</a>
</h5>
Suche nach online verfügbaren Dokumenten und elektronischen Zeitschriften.
</td>
<td>
<h5>
<a href="/search.html?request=databases&amp;dbgroup=journals&amp;lang=de" class="titlelink">
Zeitschriften und Artikel
</a>
</h5>
Suche nach Zeitschriftentiteln und Zeitschriftenartikeln.
</td>
</tr>
</tbody>
</table>
<div id="vifamath_logo_area">
<hr style="margin: 20px 0px 10px;">
<a href="http://www.sub.uni-goettingen.de/">
  <img class="partner" src="/images/sub_.gif" alt="Ein Angebot der SUB Göttingen" title="Ein Angebot der SUB Göttingen">
</a>
<a href="http://www.dfg.de">
  <img class="partner" src="/images/dfg_thumb.gif" alt="Gefördert durch die DFG" title="Gefördert durch die DFG">
</a>
<a href="http://www.uni-goettingen.de">
  <img class="partner" src="/images/gau_.gif" alt="Unterstützt durch die Universität Göttingen" title="Unterstützt durch die Universität Göttingen">
</a>
<!-- end vifamath_logo_area -->
</div>
<!-- END of variable Content -->
<p style="clear: both;">
<a href="#top">
Seitenanfang
</a>
</p>
<!-- id=content -->
</div>
<div class="blank" id="bottom_blank">
</div>
<div class="breaker">
</div>
<!-- id=wrapper -->
</div>
</body>
</html>

undefined 