<!-- ###DOCUMENT_BODY### -->

<div id="mainContainer">
<div id="kopfleiste">
	<div id="logoleiste"><img src="fileadmin/template/main/images/lay_moodboard.jpg" alt="Internetpräsenz der Virtuellen Fachbibliothek Mathematik ViFaMATH" title="Internetpräsenz der Virtuellen Fachbibliothek Mathematik ViFaMATH" />
	</div>
	<div id="aktionsbild"><img src="fileadmin/template/main/images/con_euler.jpg" alt="Alternativtext Euler" title="Titreltext Euler" style="width:219px" /></div>
	<ul id="menuService">

         ###TOP_NAVIGATION###

	</ul>
</div>
<div id="mittelLeiste">
<span class="SieSindHier">Sie sind hier:</span>
<ul id="breadcrumb">
	<li><a href="#">Home</a>></li>
    <li><a href="#">Service</a>></li>

    <li><span id="breadSel"><a href="#">Newsletter</a></span></li>
</ul>
<ul id="features">
    <li><a href="#">Suchgeschichte</a></li>
	<li><a href="#">Sammelmappe</a></li>
</ul>
</div>
<!-- ###ContentContainer### -->


		

		 ###cLeft### 

		 ###cNews### 
             
	
		<!-- ###ContentContainer### -->

<!-- end ###MAIN_CONTENT### -->

<div id="sponsorleiste">
	<div id="cLogos">
		<a class="logo_dfg" href="#"></a>
		<a class="logo_gau" href="#"></a>
	    <a class="logo_sub" href="#"></a>

	    <a class="logo_tib" href="#"></a>
	    <a class="logo_fiz" href="#"></a>
		<a class="logo_math" href="#"></a>
	</div>
</div>

</div>



<!-- ###DOCUMENT_BODY### -->
