<!-- ###DOCUMENT_BODY### -->
<div id="top"><a href="#content" class="invis">Zum Inhalt springen</a></div>
<hr class="invis">
<div id="wrapper">
<div id="header">
<!-- ###HEADER### -->
	###HOME_LINK###
	<div id="container">
	<!-- ###HEADER_CONTAINER### -->
			<div id="quicksearch">
			<!-- ###QUICKSEARCH### -->
			<form action="/search.html" method="get" name="top_search">
				<div>
					<input id="qs-input" style="background:rgb(255, 255, 255) url(http://www.vifa-math.de/images/metasuche_schatten_16.gif) no-repeat scroll left bottom" onFocus="quicksearch_bg(this.id,'focus')" onBlur="quicksearch_bg(this.id,'blur')"  size="41" name="query" maxlength="251" >
					<input type="submit" class="button" value="Suchen" >
					<input type="hidden" name="request" value="search_results" > 
					<input type="hidden" name="domain" value="Dome" >

					<input type="hidden" name="dbgroup" value="vifamath" >
					<input type="hidden" name="lang" value="de" >
					<input type="hidden" name="numrec" value="10" >
				</div>
			</form>
			<a href="/search.html?request=search_form&amp;which=advanced&amp;dbgroup=vifamath&amp;lang=de">
				Erweiterte Suche
			</a>
		<!-- ###QUICKSEARCH### -->
		</div><!-- end quicksearch -->
	
		<div id="head_navigation">
		<!-- ###HEAD_NAVIGATION### -->
			<a href="/index.html?lang=de">Home</a>
			<span class="invis">|</span> 
			<a href="/sitemap.html?lang=de">Sitemap</a>
			<span class="invis">|</span>

			<a href="/impressum.html?lang=de">
				Impressum</a>
			&nbsp;-&nbsp;
			<a href="
/index.html?&amp;lang=en">
				English</a>
		<!-- ###HEAD_NAVIGATION### -->
		</div><!-- end head_navigation -->
	<!-- ###HEADER_CONTAINER### -->
	</div><!-- end container -->
<!-- ###HEADER### -->

</div><!-- end header -->
<div id="menue">
<!-- ###LINKS_MENU### -->
	<p>
		<a href="/new.html?lang=de" class="top_nav">
			Aktuell
		</a>
		<span class="invis">:</span> 
		<a href="/news_mathjahr.html?lang=de" class="sub_nav">
			Mathematikjahr 2008
		</a>
		<span class="invis">:</span> 
		<a href="/news_euler.html?lang=de" class="sub_nav">

			Euler 2007
		</a>
		<span class="invis"><br></span> 
		<a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de" class="top_nav">
			Recherche
		</a>
		<span class="invis">:</span> 
		<a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de" class="sub_nav">
			Metasuche
		</a>
		<span class="invis"> </span> 
		<a href="/search.html?request=databases&amp;dbgroup=internet&amp;lang=de" class="sub_nav">

			- Internetseiten
		</a>
		<span class="invis"> </span>
		<a href="/search.html?request=databases&amp;dbgroup=mathLibCatalogues&amp;lang=de" class="sub_nav">
			- Bibliothekskataloge
		</a>
		<span class="invis"> </span>
		<a href="/search.html?request=databases&amp;dbgroup=journals&amp;lang=de" class="sub_nav">
			- Artikel
		</a>

		<span class="invis"> </span>
		<a href="/search.html?request=databases&amp;dbgroup=electronicresource&amp;lang=de" class="sub_nav">
			- Online Dokumente
		</a> 
		<span class="invis">|</span>
		<a href="/journals.html?lang=de" class="sub_nav">
			Zeitschriftenliste
		</a> 
		<span class="invis">|</span>

		<a href="/reviews.html?lang=de" class="sub_nav">
			Rezensionsdienste
		</a> <span class="invis">|</span>
		<a href="/subject_catalogue.html?lang=de" class="sub_nav">
			Thematischer Katalog
		</a> <span class="invis">|</span>
		<a href="/zamn/index.html?lang=de" class="sub_nav">
			Mathematik-Nachlässe
		</a> <span class="invis"><br></span>

		<a href="/service.html?lang=de" class="top_nav">
			Services
		</a> <span class="invis">:</span>
		<a href="/delivery.html?lang=de" class="sub_nav">
			Lieferdienste
		</a> <span class="invis">|</span>
		<a href="/search.html?request=history&amp;tpp=&amp;lang=de" class="sub_nav">
			Suchgeschichte
		</a>

		<span class="invis">|</span>
		<a href="/search.html?request=saved_records&amp;tpp=&amp;lang=de" class="sub_nav">
			Sammelmappe
		</a> 
		<span class="invis"><br></span>
		<a href="/about.html?lang=de" class="top_nav">
			Über die ViFaMATH
		</a> 
		<span class="invis">:</span>
		<a href="/about.html?lang=de" class="sub_nav">

			Über uns
		</a> <span class="invis">|</span>
		<a href="/description.html?lang=de" class="sub_nav">
			Projektbeschreibung
		</a> <span class="invis">|</span>
		<a href="/partner.html?lang=de" class="sub_nav">
			Partner
		</a> <span class="invis"><br></span>

		<a href="/interactive.html?lang=de" class="top_nav">
			Interaktiv
		</a> <span class="invis">:</span>
		<a href="/contact.html?lang=de" class="sub_nav">
			Kontakt
		</a> <span class="invis">|</span>
		<a href="/newsletter.html?lang=de" class="sub_nav">
			Newsletter
		</a>

		<a href="/cgi-bin/ssgfi/notify.pl?db=vifamath&amp;lang=de"
		class="sub_nav">
			Website vorschlagen
		</a>
		<a href="/plugin.html?lang=de"
		class="sub_nav">
			ViFaMATH Plugin
		</a>
	</p>
	<p style="margin: 30px 0px 10px 0px;" >
		<a target="_blank" href="http://www.jahr-der-mathematik.de">
			<img src="/images/logo-jdm.gif" title="Jahr der Mathematik"
			alt="Jahr der Mathematik">

		</a>
	</p>
	<p style="margin: 30px 0px 10px 0px;" >
		<a href="http://validator.w3.org/check?uri=referer">
			<img src="/images/valid-html401.png" title="validate HTML"
			alt="Valid HTML 4.01" height="31" width="88">
		</a>
	</p>
	<!-- ###LINKS_MENU### -->
	</div><!-- id="menue" -->
<div class="blank" id="top_blank"></div>

<div id="content">
<!-- ###MAIN_CONTENT### -->
<!-- BEGIN of variable Content -->
<h2>Herzlich Willkommen</h2>
<h4>in der Virtuellen Fachbibliothek Mathematik - Ihrem Rechercheportal!</h4>
  <div id="main_search" style="font-size: 85%; margin-top: 10px; 
  border-top: 1pt solid grey; padding-top: 15px; ">
  
<div id="vifamath_search_form">
	<h5 style="margin-bottom: 5px">Metasuche in Quellen der Virtuellen Fachbibliothek</h5>
		<form action="/search.html" method="get" name="top_search">
			<div style="margin-left: 20px;">

				<input size="53" name="query" maxlength="251" />
				<input type="submit" class="button" value="Suchen" />
				<input type="hidden" name="request" value="search_results" /> 
				<input type="hidden" name="domain" value="Dome" />
				<input type="hidden" name="dbgroup" value="vifamath" />
				<input type="hidden" name="lang" value="de" />
				<input type="hidden" name="numrec" value="10" />
				<br />
				<a class="minor" href="/search.html?request=search_form&amp;which=advanced&amp;dbgroup=vifamath&amp;lang=de">

				Erweiterte Suche
				</a>
			</div>
		</form>
<!-- end vifamath_search_form --></div>
  
<div id="google_cse_form" style="
/*background-color: yellow;*/
">
<h5 style="margin-bottom: 5px">Volltextsuche in mathematisch relevanten Internetquellen</h5>
<form  id="searchbox_012361410450410291409:remboy3b5-k"
       action="/googlesearchresults.html" method="get">
 <div style="margin-left: 20px">
  <noscript>
   <p class="no_js_warning">Die Anzeige der Ergebnisse benötigt JavaScript</p>
  </noscript>

  <input size="53" name="q" maxlength="251" />
  <input type="submit" class="button" value="Suchen"/>
  <input type="hidden" name="cx" value="012361410450410291409:fp03p_ob_pa" /> 
  <input type="hidden" name="sa" value="Search" />
  <input type="hidden" name="cof" value="CX:ViFaMath;FORID:11" />
  <input type="hidden" name="num" value="10" />
  <input type="hidden" name="client" value="google-coop-np" />
  <input type="hidden" name="hl" value="de" />
  <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_012361410450410291409%3Aremboy3b5-k"></script>

  <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_012361410450410291409%3Afp03p_ob_pa"></script>
 </div>
</form>
<!-- end google_search_form --></div>
  <br />
  <!-- end main_search -->
</div>
<table class="justify" cellspacing="8" cellpadding="5" border="0">
<tr>
 <td>
  <h5>

   <a href="/search.html?request=search_form&amp;dbgroup=vifamath&amp;lang=de"
class="titlelink">Gesamtsuche</a>
  </h5>
	Metasuche über Internetseiten, Bestände mathematisch relevanter 
	Bibliotheken, Zeitschriften und Online Dokumente.
 </td> 
 <td>
  <h5>
   <a href="/reviews.html?lang=de" class="titlelink">Rezensionsdienste</a>
  </h5>
   Rezensionsdienste bzw. Referateorgane bieten Zusammenfassungen
   und Rezensionen zu Artikeln und Büchern.
 </td>

</tr>
<tr>
 <td>
  <h5>
   <a href="/search.html?request=databases&amp;dbgroup=internet&amp;lang=de" class="titlelink">Internetseiten</a>
  </h5>
   Suche in einer Datenbank mit mathematischen Internetseiten. Die Seiten
   sind beschrieben und klassifiziert.
 </td>
 <td>
  <h5>

   <a href="/subject_catalogue.html?lang=de" class="titlelink">Thematischer Katalog</a>
  </h5>
   Thematisches Browsing nach der Mathematics Subject Classification (MSC)
   durch Internetseiten, SUB Katalog etc.
 </td>
</tr>
<tr>
 <td>
  <h5>
   <a href="/search.html?request=databases&amp;dbgroup=electronicresource&amp;lang=de" class="titlelink">Online Dokumente</a>

  </h5>
   Suche nach online verfügbaren Dokumenten und elektronischen
   Zeitschriften. 
 </td>
 <td>
  <h5>
   <a href="/search.html?request=databases&amp;dbgroup=journals&amp;lang=de" class="titlelink">Zeitschriften und Artikel</a>
  </h5>
   Suche nach Zeitschriftentiteln und Zeitschriftenartikeln.
 </td>

</tr>
</table>
<div id="vifamath_logo_area">
<!-- ###FOOTER### -->
<hr style="margin: 20px 0px 10px 0px;">
<a href="http://www.sub.uni-goettingen.de/">
	<img class="partner" src="/images/sub_.gif"
	alt="Ein Angebot der SUB Göttingen"
	title="Ein Angebot der SUB Göttingen">
</a>
<a href="http://www.dfg.de">
	<img class="partner" src="/images/dfg_thumb.gif" 
	alt="Gefördert durch die DFG" 
	title="Gefördert durch die DFG">
</a>
<a href="http://www.uni-goettingen.de">
	<img class="partner" src="/images/gau_.gif"
	alt="Unterstützt durch die Universität Göttingen" 
	title="Unterstützt durch die Universität Göttingen">
</a>
<!-- ###FOOTER### -->
<!-- end vifamath_logo_area --></div>

<!-- END of variable Content -->
<p style="clear: both">
<a href="#top">Seitenanfang</a>
</p>
<!-- ###MAIN_CONTENT### -->
<!-- id=content --></div>
<div class="blank" id="bottom_blank"></div>
<div class="breaker"></div>
<!-- id=wrapper --></div>
<!-- ###DOCUMENT_BODY### -->