/*
	Stylesheet for Lib AAC.
	2011 Sven-S. Porst <porst@sub.uni-goettingen.de>
	Implementing the design by Henrik Cederblad based on the 960 grid system.
*/

/* 
	STYLES FROM 960 GRID SYSTEM
	* style .csc-default like .grid_12 so text doesn't run too wide
		for the TYPO3 appearance setting 'Default Frame'
	* style .csc-frame-frame1 like .grid_4 to have a narrow column with the
		TYPO3 appearance setting 'Frame 1'
	* style .csc-frame-frame2 like .grid_8 to have a medium column with the
		TYPO3 appearance setting 'Frame 2'
	* style #pazpar2, .gokContainer, .tx-ezbrequest-pi like .grid_16 to get
		the full width, select the appearance setting 'No Frame' for that
*/
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.grid_4, .grid_8, .grid_12, .grid_16,
#content .csc-default,
#content .csc-frame-frame1,
#content .csc-frame-frame2,
#pazpar2,
.container_16 #pz2-results,
.gokContainer,
.tx-ezbrequest-pi1 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.push_4, .pull_4, .push_8, .pull_8, .push_12, .pull_12, .push_16, .pull_16 {
	position: relative;
}

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

.container_16 .grid_4,
#content .csc-frame-frame1 {
	width: 220px;
}

.container_16 .grid_8,
#content .csc-frame-frame2 {
	width: 460px;
}

.container_16 .grid_12,
#content .csc-default,
.container_16 .pz2-JSNote,
.container_16 #pz2-results {
	width: 700px;
}

* html .container_16 #pz2-results {
	width: 690px;
}

.container_16 .grid_16,
#pazpar2,
.gokContainer,
.tx-ezbrequest-pi1 {
	width: 940px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}




/* GENERAL HTML ELEMENTS */
* {
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
}

body {
	min-width: 960px;
	background: url(background.png) repeat-x;
	font-family: "Trebuchet MS", Tahoma, Verdana, Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 126%;
	color: #474747;
}

h1, h2, h3 {
	color: #00247d;
	font-weight: normal;
	font-style: normal;
	padding-bottom: 0.357em;
}

h1 {
	font-size: 1.786em; /*=25px*/
	position: absolute;
	top: 0px;
	left: 0px;
	height: 76px;
	width: 308px;
	padding: 0px;
	background: transparent url(header_titles.png) 0px 0px no-repeat;
}

body.historyguide h1 {
	background-position: 0px -77px;
	width: 263px;
}

body.literatureguide h1 {
	background-position: 0px -154px;
	width: 263px;
}

h2 {
    font-size: 1.429em; /*=20px*/
    line-height: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
	font-size: 1.286em; /*=18px*/
    font-weight: normal;
    line-height: 18px;
    margin: 30px 0 10px 0;
}

h4, h5, h6 {
	font-size: 100%;
	font-weight: bold;
	color: #474747;
}

h4 {
	margin: 0.5em 0em;
}


p {
	font-size: 1em;
	margin-bottom: 1em;
}

ul, ol {
	padding-left: 3em;
	margin: 1em 0;
}

li {
	margin: 3px 0;
}

a:link, a:visited, a:link:active, a:link:hover {
	color: #263476;
	font-weight: bold;
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}

abbr, acronym {
	border: 0px none;
	cursor: help;
}

/*
Make elements invisible without really removing them,
so they remain available to screen readers. Make links inside those elements
visible when they're tabbed to.
*/
.invisible {
	position: absolute;
	left: -9999em;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.invisible a:focus, .invisible a:active {
	display: block;
	position: absolute;
	left: 10000em;
	top: 1em;
	width: auto;
	height: auto;
	white-space: nowrap;
}


/* PAGE */
#page {
    position: relative;
    min-height: 100%;
}


/* HEAD */
#head {
	height: 140px;
	background: #eaecf4 url(header.png) no-repeat;
	text-indent: -9999em;
}

#head a {
	height: 100%;
	width: 100%;
}


/* CONTENT */
#content {
	overflow: auto;
	padding-bottom: 80px;
}


/* FOOT */
#foot {
	height: 80px;
	margin-top: -80px;
	padding: 0px;
	position: relative;
	clear: both;
	font-size: 86%;
	color: #8d95b5;
	background: #263476 url(footer.png) repeat-x top;
}

#foot p {
	display: block;
	width: 940px;
	margin: 0 auto;
	padding: 40px 10px 0px 10px;
}

#foot a:link, #foot a:visited, #foot a:active {
	color: #d9dbe7;
	text-decoration: none;
}

#foot a:hover {
	text-decoration: underline;
}



/*	MENU */
#menu {
	position: relative;
	height: 85px;
	margin-bottom: 20px;
	font-size: 14px;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu ul.mainmenu {
	padding-top: 18px;
	list-style-type: none;
}

.mainmenu li {
	display: inline;
	margin-right: 0.9em;
}

.mainmenu li.last {
	margin-right: 0;
}

.mainmenu li a {
	padding: 3px 5px;
	font-weight: bold;
}

.mainmenu a {
	font-weight: bold;
	text-decoration: none;
	color: #234f8f;
	margin: 0px 1px;
	border-style: solid;
	border-width: 1px 1px;
	border-color: #eaecf4 transparent #dadada;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

* html .mainmenu a {
	border-width: 1px 0px;
}

.mainmenu a:link:hover,
.mainmenu a:visited:hover {
	color: #234f8f;
	background: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dadada;
}

.mainmenu .currentParent > a {
	color: #445875;
	background: #d1d3df;
	border-top: 1px solid #eaecf4;
	border-bottom: 1px solid #c4c4c4;
}

.mainmenu .currentParent > a:hover,
.mainmenu .current a:hover {
	color: #445875;
	background: #d1d3df;
	border-top: 1px solid #eaecf4;
	border-bottom: 1px solid #c4c4c4;
}

.mainmenu .current > a,
body.homepage .mainmenu > li.first > a,
body.homepage .submenu > li.first > a {
	font-weight: bold;
	color: #384b66;
	background: #d1d3df;
	border-top: 1px solid #eaecf4;
	border-bottom: 1px solid #c4c4c4;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px 7px 7px 7px;
}

.mainmenu .current > a:hover {
	color: #384b66;
	background: #d1d3df;
	border-top: 1px solid #eaecf4;
	border-bottom: 1px solid #cecece;
}


#menu ul.submenu {
	position: absolute;
	top: 48px;
	left: 18px;
	right: 0;
	text-transform: none;
}

.submenu li {
	margin: 0;
}

.submenu li:after {
	margin: 0 0.7em 0 0.4em;
	content: '•';
}

.submenu li.last:after {
	margin: 0;
	content: '';
}

.submenu li.unlinkedParent {
	color: #474747;
}

.submenu li.unlinkedParent a:after {
	content: ':';
}

.submenu li.unlinkedParent ul a:after {
	content: '';
}

.submenu:before {
	display: block;
	height: 16px;
	width: 10px;
	position: absolute;
	top: -8px;
	left: -12px;
	border: solid #999;
	border-width: 0px 0px 1px 1px;
	content: ' ';
}

.submenu li a:link {
	font-weight: normal;
	color: #2759a2;
	border-top: 1px solid #fff;
	border: none;
}

.submenu a:link:hover, .submenu a:visited:hover {
	background: #fff;
	color: #273572;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dadada;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px 7px 7px 7px;
}

#menu ul.subsubmenu {
	display: inline;
	margin-left: 0.3em;
}

#menu .subsubmenu li {
	margin: 0;
}

.subsubmenu li:after {
	content: '|';
	margin: 0 0.2em;
}

#menu .subsubmenu li.last:after {
	content: '';
}


a.languageSwitcher {
	position: absolute;
	top: 19px;
	right: 0px;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}

a.languageSwitcher:hover {
	text-decoration: underline;
	font-weight: normal;
}



/* MARGINS FOR TYPO3 EXTENSION ELEMENTS */
#pazpar2, .gokContainer, .tx-ezbrequest-pi1 {
	margin: 1em 10px;
}



/* OVERRIDE PAZPAR2 STYLING */
#pazpar2 {
	font-size: 14px;
	line-height: 18px;
}

#pazpar2 .pz2-searchField {
	background-color: #f1f3f6;
}

#pazpar2 .pz2-extended .pz2-searchField {
    height: 18px;
	width: 254px;
}

#pazpar2 .pz2-extended .pz2-submitButton {
    height: 24px;
}

#pazpar2 .pz2-extended .pz2-extendedLink {
	line-height: 24px;
}


#pazpar2 .pz2-prev, #pazpar2 .pz2-next {
	color: #aaa;
}

#pazpar2 a.pz2-prev, #pazpar2 a.pz2-next {
	color: #00247d;
}

#pazpar2 .pz2-currentPage {
	color: #000;
}

#pazpar2 #pz2-results {
	margin: 0px;
}

#pazpar2 #pz2-results ol.pz2-resultList li {
	margin-bottom: 10px;
	padding-right: 10px;
}

#pazpar2 #pz2-results ol.pz2-resultList li li {
	margin: 0px;
}

* html #pazpar2 #pz2-results ol.pz2-resultList li {
	border-left-color: #fff;
}

#pazpar2 #pz2-results ol.pz2-resultList li.pz2-detailsVisible {
	border-left-color: #263476;
}

#pazpar2 .pz2-recordLink {
	color: #7d7d7d;
	font-weight: normal;
}

#pazpar2 .pz2-recordLink:after {
	position: relative;
	bottom: -1px;
	content: url(magnifier.png);
}

#pazpar2 .pz2-recordLink:hover:after {
	content: url(magnifier_hover.png);
}

#pazpar2 .pz2-title-main {
	font-weight: bold;
	color: #263476;
}

#pazpar2 #pz2-results .pz2-mediaIcon {
	top: -2px;
	left: -38px;
}

#pazpar2 .pz2-progressIndicator {
	background: transparent;
	border-bottom: 1px solid #263476;
}

#pazpar2 #pz2-termLists {
	font-size: 12px;
	width: 220px;
}

#pazpar2 #pz2-termLists li  {
	margin: 0;
}

#pazpar2 #pz2-termLists .pz2-progressIndicator {
	display: none;
}

#pazpar2 #pz2-termLists .pz2-facetCount,
#pazpar2 .pz2-recordCount,
#pazpar2 .pz2-facetShowAll {
	color: #707070;
	font-style: normal;
}

#pazpar2 .pz2-accessNote,
#pazpar2 .pz2-facet-showAll a {
	color: #707070;
}

#pazpar2 .pz2-termList a:link:hover {
	font-weight: normal;
}

#pazpar2 .pz2-termList .pz2-facetCancel:link:hover {
	font-weight: bold;
}

#pazpar2 .pz2-details {
	padding: 10px 0px 20px;
}

#pazpar2 .pz2-details dt {
	width: 160px;
	margin-bottom: 5px;
}

#pazpar2 .pz2-details dd {
	margin-left: 180px;
	margin-bottom: 5px;
}

#pazpar2 .pz2-details ul {
	list-style-type: disc;
}

#pazpar2 .pz2-details dd.pz2-googleBooks {
	padding-top: 2px;
}

#pazpar2 .pz2-detail-catalogueLink {
	padding: 1px 12px 1px 4px;
	background: #d9dbe4 url(arrow.png) right center no-repeat;
}

#pazpar2 .pz2-detail-catalogueLink:after {
	margin: 0;
	content: '';
}

#pazpar2 #pz2-results .pz2-extraLinks ul li input,
#pazpar2 #pz2-results .pz2-extraLinks ul li a {
	color: #7d7d7d;
}

#pazpar2 #pz2-results .pz2-extraLinks:hover ul li input,
#pazpar2 #pz2-results .pz2-extraLinks:hover ul li a {
	color: #263476;
}

#pz2-results .pz2-extraLinks ul li input:hover,
#pz2-results .pz2-extraLinks ul li a:hover {
	text-decoration: underline;
}

#pazpar2 .pz2-atomLink:hover {
	text-decoration: none;
}

#pazpar2 fieldset {
	border-style: solid;
	border-width: 1px;
	border-color: #d9dbe4;
	margin-bottom: 0.5em;
}

#pazpar2 fieldset legend {
	color: #263476;
}

#pazpar2 .pz2-fieldset-group {
	width: 340px;
	float: right;
}

#pazpar2 .pz2-fieldset-group.index-1 {
	width: 220px; /* (940px - 20px) width - 2 * 360px left and right boxes */
	margin: 0px 20px;
}



/* style ezbrequest search field like .pz2-searchField */
.tx-ezbrequest-pi1 input.iputStartSmall {
	margin: 0px 6px 2px 0px;
	padding: 2px;
	color: #333333;
	background: #f3f5f9;
	border-style: solid;
	border-width: 1px;
	border-color: #b3b3b3 #d2d2d2 #d2d2d2 #b3b3b3;
	width: 220px;
}

/* style like .pz2-submitButton */
.tx-ezbrequest-pi1 input.submStartSmall {
	height: 23px;
	background: url(../../typo3conf/ext/pazpar2/Resources/Public/button_shade_small.png) repeat-x scroll 0 100% #f3f6fb;
	border-style: solid;
	border-width: 1px;
	border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
	border-radius: 3px 3px 3px 3px;
	border-right: 1px solid #b4b4b4;
	color: #555555;
	font-weight: bold;
	line-height: 100%;
	padding: 3px 12px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
	text-transform: uppercase;
}

.tx-ezbrequest-pi1 input.submStartSmall:active {
	background-image: url(../../typo3conf/ext/pazpar2/Resources/Public/button_shade_small_click.png);
}



/* Opera Fix for CSS Sticky footer */
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}