/*
	Stylesheet for Lib AAC.
	2011 Sven-S. Porst <porst@sub.uni-goettingen.de>
	Implementing the design by Henrik Cederblad based on the 960 grid system.
*/

@import url("grid.css");

* {
	margin: 0;
	padding: 0;
}


body {
	background: url(background.png) repeat-x;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	line-height: 133%;
	color: #474747;
}

#head {
	height: 140px;
	background: url(header.png) no-repeat;
	text-indent: -9999em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #282828;
}

h1 {
	font-size: 24px;
}

h2 {
   font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
}
h1, h2 {
	padding-bottom: 0.357em;
	color: #475e9a;
}

a:link, a:visited, a:active {
	color: #263476;
}

#foot {
	height: 50px;
	padding: 30px 0px 0px;
	position: relative;
	color: #8d95b5;
	background: transparent url(footer.png) repeat-x top;
	text-align: center;
	color: #8d95b5;
	font-size: 12px;
	letter-spacing: 1px;
}

#foot .bodytext.grid_12 {
	margin: 0;
	display: block;
	float: none;
	width: 100%;
}

#foot a:link, #foot a:visited, #foot a:active {
	color: #d9dbe7;
	text-decoration: none;
}

#foot a:hover {
	text-decoration: underline;
}

.bodytext {
	margin-top: .5em;
	margin-bottom: .5em;
}



/*	Menu */

#menu {
	position: relative;
	height: 85px;
	margin-bottom: 20px;
	font-size: 12px;
}

.mainmenu a {
	text-decoration: none;
	border-top: 1px solid #eaecf4;
	border-right: 2px solid transparent;
	border-bottom: 1px solid #dadada;
	border-left: 2px solid transparent;
	background: url("http://cederbladdesign.com/tmp/subg/images/navbutton_gradient.png") repeat-x;
	color: #234f8f;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.mainmenu a:link:hover, .mainmenu a:visited:hover, .mainmenu .current a, .mainmenu .currentParent>a {
	color: #000;
	background: #d9dbe4;
}

.mainmenu a:link:hover, .mainmenu a:visited:hover {
	background: #fff;
	color: #474747;
}

.mainmenu {
	padding-top: 18px;
	margin-left: -5px;
	text-transform: uppercase;
	font-weight: bold;
}

.mainmenu ul {
	list-style-type: none;
}

.mainmenu li {
	display: inline;
	margin-right: 0.9em;
}

.mainmenu li.last {
	margin-right: 0;
}

.mainmenu li a {
	padding: 3px 5px;
}

.mainmenu .currentParent > a {
	color: #475c7a;
	background: #d1d3df url(navbutton_gradient.png) repeat-x;
	border-top: 1px solid #eaecf4;
	border-bottom: 1px solid #c4c4c4;
}

.mainmenu .currentParent > a:hover, .mainmenu .current a:hover {
	color: #475c7a;
	background: #d1d3df url(navbutton_gradient.png) repeat-x;
	border-top: 1px solid #eaecf4;
	border-bottom: 1px solid #c4c4c4;
	cursor: default;
}

.mainmenu .current > a, .mainmenu .current > a:hover {
	background: #d9dbe7 url(navbutton_gradient.png) repeat-x;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #cecece;
	color: #475c7a;
}

.submenu {
	position: absolute;
	top: 47px;
	left: 1em;
	right: 0;
	text-transform: none;
	font-weight: normal;
}

.submenu li {
	margin: 0;
}

.submenu li:after {
	margin: 0 0.5em;
	content: '•';
}

.submenu li.last:after {
	margin: 0;
	content: '';
}

.submenu li.unlinkedParent {
	color: #474747;
}

.submenu li.unlinkedParent a:after {
	content: ':';
}

.submenu li.unlinkedParent ul a:after {
	content: '';
}

.submenu:before {
	display: block;
	height: 16px;
	width: 10px;
	position: absolute;
	top: -8px;
	left: -12px;
	border: solid #999;
	border-width: 0px 0px 1px 1px;
	content: ' ';
}

.submenu a {
	border-top: 1px solid #fff;
	color: #2759a2;
}

.submenu a:link:hover, .submenu a:visited:hover {
	background: #fff;
	color: #000;
}

.subsubmenu {
	display: inline;
	margin-left: 0.3em;
}

#menu .subsubmenu li {
	margin: 0;
}

.subsubmenu li:after {
	content: '|';
	margin: 0 0.3em;
}

.subsubmenu li.last:after {
	content: '';
}


.languageSwitcher {
	position: absolute;
	top: 19px;
	right: 0px;
	text-decoration: none;
	font-size: 12px;
}

.languageSwitcher:hover {
	text-decoration: underline;
}



/* style like a .grid_16 element */
#pazpar2, .gokContainer {
	display: inline;
	float: left;
	position: relative;
	margin: 1em 10px;
	width: 940px;
	line-height: 125%;
}



/* pazpar elements */
#pazpar2 .pz2-prev, #pazpar2 .pz2-next {
	color: #aaa;
}

#pazpar2 .pz2-currentPage {
	color: #000;
}

#pazpar2 #pz2-results ol.pz2-resultList li {
	margin-bottom: 10px;
	padding-right: 10px;
}

#pazpar2 #pz2-results ol.pz2-resultList li li {
	margin: 0px;
}

#pazpar2 #pz2-results ol.pz2-resultList li.pz2-detailsVisible {
	border-left-color: #263476;
}

#pazpar2 .pz2-recordLink {
	color: #7d7d7d;
	font-weight: normal;
}

#pazpar2 .pz2-title-main {
	font-weight: bold;
	color: #263476;
}

#pazpar2 #pz2-results .pz2-mediaIcon {
	top: -2px;
	left: -40px;
}

#pazpar2 .pz2-progressIndicator {
	background: transparent;
	border-bottom: 1px solid #263476;
}

#pazpar2 #pz2-termLists {
	font-size: 12px;
}

#pazpar2 #pz2-termLists .pz2-progressIndicator {
	display: none;
}

#pazpar2 #pz2-termLists .pz2-facetCount {
	color: #707070;
	font-style: normal;
}

#pazpar2 .pz2-facetCancel {
	color: #f00;
}

#pazpar2 .pz2-details {
	padding: 10px 0px 20px;
}

#pazpar2 .pz2-details dt {
	width: 160px;
	margin-bottom: 5px;
}

#pazpar2 .pz2-details dd {
	margin-left: 180px;
	margin-bottom: 5px;
}

#pazpar2 .pz2-details ul {
	list-style-type: disc;
}

#pazpar2 .pz2-details dd.pz2-googleBooks {
	padding-top: 2px;
}

#pazpar2 .pz2-detail-catalogueLink {
	padding: 1px 4px;
	background: #d9dbe4;
}

#pazpar2 fieldset {
	width: 338px; /* 340px - 2px border */
	float: right;
	border-style: solid;
	border-width: 1px;
	border-color: #d9dbe4;
}

#pazpar2 .pz2-fieldset-1 {
	width: 218px; /* (940px - 20px) width - 2 * 360px left and right boxes - 2px border */
}

#pazpar2 .pz2-fieldset-0, #pazpar2 .pz2-fieldset-1 {
	margin-left: 20px;
}
