* {
	margin: 0;
	padding: 0;
}


body {
	font-family: Georgia, Palatino, serif;
	color: #000;
	background: #ddd;
	padding: 1em;
}


#head, #foot, #menu, h1, h2, h3, h4, h5, h6 {
	font-family: Optima, Tahoma, sans-serif;
}


img {
	border: 0px none;
}


#page { 
	max-width: 60em;
	background: #fff;
	margin: auto;
	-webkit-box-shadow: 2px 2px 4px #666;
	position: relative;
}


#head {
	background: #66b;
	color: #fff;
	padding: 0.5em 0.5em 0.5em 0.75em;
	margin-top: 2em;
}

#head h1 {
	font-size: 100%;
	margin-bottom: -0.5em;
	text-shadow: 2px 1.5px 4px #666;
}

#head h1 .initial {
	font-size: 800%;
	line-height: 40%;
}

#head ul.languageSwitcher {
	list-style-type: none;
	position: absolute;
	top: 3px;
	right: 5px;
}

#head ul.languageSwitcher li {
	display: inline;
	margin-left: 6px;
}

#head ul.languageSwitcher li.currentLanguage img {
	-webkit-box-shadow: 0px 0px 4px #fff;
}

#main {
	position:relative;
}


#menu {
	width: 10em;
	float: left;
	background: #66b;
	color: #fff;
}

#menu ul {
	padding: 0;
	list-style-type: none;
}

#menu ul li {
	padding: 0.5em 0.75em 0em 0.75em;
}

#menu ul li, #menu ul li a {
	color: #fff;
}

#menu ul li.current, #menu ul li.current a {
	background: #fff;
	color: #000;
	text-decoration: none;
}

#content {
	margin-left: 10em;
	background: #fff;
	padding: 1em;
}

ul {
	padding-left: 2em;
}


#foot {
	clear: both;
	background: #66b;
	color: #fff;
	text-align: center;
	padding: 0.5em;
}

#foot a, #foot a:visited {
	color: #fff;
}
