<f:layout name="default" />

<f:section name="content">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Edit post "{post.title}"</h1></div>
	<f:render partial="formErrors" arguments="{for: 'post'}" />
	<f:form method="post" controller="Post" action="update" name="post" object="{post}" arguments="{blog : blog}" >
		<label for="author">Author</label><br />
		<f:form.select value="{post.author.uid}" name="author" options="{authors}" optionValueField="uid" optionLabelField="fullName"><select><option>dummy</option></select></f:form.select><br />
		<label for="title">Title</label><br />
		<f:form.textbox property="title" /><br />
		<label for="content">Content</label><br />
		<f:form.textarea property="content" rows="8" cols="46" /><br />
		<f:form.submit class="submit" value="Update!" />
	</f:form>
</f:section>