<f:layout name="default" />

<f:section name="content">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Create a new Post</h1></div>
	<f:render partial="formErrors" arguments="{for: 'newPost'}" />
	<f:form method="post" controller="Post" action="create"  name="newPost" object="{newPost}" arguments="{blog : blog}">
		<label for="author">Author <span class="required">(required)</span></label><br />
		<f:form.select property="author" options="{authors}" optionValueField="uid" optionLabelField="fullName"><select><option>dummy</option></select></f:form.select><br />
		<label for="title">Title <span class="required">(required)</span></label><br />
		<f:form.textbox property="title" /><br />
		<label for="content">Content <span class="required">(required)</span></label><br />
		<f:form.textarea property="content" rows="8" cols="46" /><br />
		<f:form.submit class="submit" value="Submit"/>
	</f:form>
</f:section>