{namespace blog=Tx_BlogExample_ViewHelpers}
<f:layout name="default" />

<f:section name="content">
	<div class="tx-blogexample-single-item">
		<span class="tx-blogexample-single-date"><f:format.date>{post.date}</f:format.date></span>
		<h3>
			{post.title}
		</h3>
		<p class="bodytext"><f:format.nl2br>{post.content}</f:format.nl2br></p>
		<p class="bodytext">By: {post.author.fullName}</p>
		<f:render partial="postTags" arguments="{post: post}"/>
		<f:if condition="{post.relatedPosts}">
			<div>Related posts:</div>
			<ul class="tx-blogexample-related">
				<f:for each="{post.relatedPosts}" as="relatedPost">
					<li>
						<f:link.action action="show" controller="Post" arguments="{post: relatedPost, blog: post.blog}">{relatedPost.title}</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:if>
		<div class="tx-blogexample-single-backlink">
			<f:link.action action="index" controller="Post" arguments="{blog: post.blog}">Back</f:link.action>
		</div>
	</div>
	<div class="tx-blogexample-comment-list">
		<h3>Comments</h3>
		<f:for each="{post.comments}" as="comment">
			<div class="tx-blogexample-comment">
				<div class="tx-blogexample-comment-info">
					<span class="tx-blogexample-comment-author">
						<blog:gravatar emailAddress="{comment.email}" size="40" class="tx-blogexample-gravatar" />
						<a href="mailto:{comment.email}">{comment.author}</a> posted on
						<span class="tx-blogexample-date"><f:format.date>{comment.date}</f:format.date></span>
					</span>
				</div>
				<div class="tx-blogexample-comment-text">
					<f:format.nl2br>{comment.content}</f:format.nl2br>
				</div>
				<hr class="clear" />
			</div>
		</f:for>
	</div>
	<h4>Add your own</h4>
	<f:form name="newComment" method="post" controller="Comment" action="create" object="{newComment}" arguments="{post : post}">
		<f:form.errors for="newComment">
			<div class="error">
				<strong>{error.propertyName}</strong>: <f:for each="{error.errors}" as="errorDetail">{errorDetail.message}</f:for>
			</div>
		</f:form.errors>
		<label for="author">name <span class="required">(required)</span></label><br />
		<f:form.textbox id="author" property="author" />
		<br />
		<label for="email">email <span class="required">(required)</span></label><br />
		<f:form.textbox id="email" property="email" />
		<br />
		<label for="text">message <span class="required">(required)</span></label><br />
		<f:form.textarea id="text" property="content" rows="6" cols="46"/>
		<br />
		<f:form.submit class="submit" value="Submit"/>
	</f:form>
</f:section>
