<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta http-equiv="language" content="de">
<meta name="author" content="ViFaMATH">
<meta name="publisher" content="SUB, Staats- und Universitätsbibliothek Göttingen">
<meta name="copyright" content="ViFaMATH">
<meta name="keywords" lang="de" content="Virtuelle Fachbibliothek,Mathematik,ViFaMATH,Recherche,Portal,Suche">
<meta name="keywords" lang="en" content="virtual library,mathematics,VLibMath,research,portal">
<meta name="page-topic" content="ViFaMATH - Virtuelle Fachbibliothek Mathematik,Wissenschaft und Bildung/Bibliotheken,Internet und WWW/Services,Wissenschaft und Bildung/Mathematik,Wissenschaft und Bildung/Uni,Forschung und Lehre">
<meta name="language" content="Deutsch">
<meta name="distribution" content="global">
<meta name="page-type" content="Portal">
<meta name="revisit-after" content="7 days">
<meta name="DC.creator" content="ViFaMATH">

<meta name="DC.publisher" content="Staats- und Universitätsbibliothek Göttingen, SUB Göttingen">
<meta name="DC.type" content="Text">
<meta name="DC.format" content="text/html">
<meta name="DC.identifier" content="http://www.vifa-math.de">
<meta name="DC.language" content="de,en">
<meta name="DC.rights" content="http://www.vifa-math.de/impressum.html">
<meta name="robots" content="INDEX,FOLLOW">
	<meta name="DC.title" lang="de" content="ViFaMATH - Virtuelle Fachbibliothek Mathematik">
	<meta name="DC.title.alternative" lang="en" content="ViFaMATH - Virtual Library of Mathematics">
	<meta name="DC.subject" content="Virtuelle Fachbibliothek,Virtuelle Bibliothek,Mathematik,ViFaMATH,Recherche,Portal,Metasuche,Bibliothekskataloge,Internetseiten,Internetquellen,MathGuide,Literatur,elektronische,wissenschaftliche,Publikationen,Artikel,Zeitschriften,Forschungsberichte,Online Dokumente,Rezensionsdienste,Rezensionen,Thematischer Katalog,Browsen,Katalogsuche,Literatursuche,e-journals,informationsvermittlung,literaturvermittlung,digitale volltexte">
	<meta name="DC.description" content="ViFaMATH ist die virtuelle Fachbibliothek für Mathematik. Das Portal erleichtert die Recherche nach mathematisch relevanten Informationen und bietet dazu unter anderem eine Gesamtsuche über die eingebundenen Komponenten an.">
	<meta name="description" lang="de" content="ViFaMATH ist die virtuelle Fachbibliothek für Mathematik. Das Portal erleichtert die Recherche nach mathematisch relevanten Informationen und bietet dazu unter anderem eine Gesamtsuche über die eingebundenen Komponenten an.">

<title>ViFaMATH: Virtuelle Fachbibliothek Mathematik</title>
<script type="text/javascript">
<!--
if (document.layers)
document.write('\<link rel="stylesheet" type="text/css" href="css/none.css" />');
//for Netscape 4
//-->
</script>
	<script type="text/javascript" 
	src="index.js">
	</script>
<style type="text/css">
<!--
	/* general styles */
	@import url("structures.css");
	@import url("formats.css");
-->
</style>
<style type="text/css">
	/* specific style file */
	@import url("index.css");
</style>
</head>
<body>
###DOCUMENT###
<div id="top"><a href="#content" class="invis">Zum Inhalt springen</a></div>
<hr class="invis">
<div id="wrapper">
	<div id="header">
	<!-- ###HEADER### -->
<a class="home" href="/index.html?lang=de">
	<img src="banner.jpg" alt="ViFaMATH" style="border: 0px">
</a>
	
	<div id="container">
	###HEAD_NAVIGATION###

	</div><!-- end container -->

	<!-- ###HEADER### -->
	</div><!-- header -->
<div id="menue">
###MENUE###	
</div><!-- id="menue" -->
<div class="blank" id="top_blank"></div>
<div id="content">
###CONTENT###
<!-- id=content --></div>
<div class="blank" id="bottom_blank"></div>
<div class="breaker"></div>
<!-- id=wrapper --></div>
###DOCUMENT###
</body>
</html>
