<div id="pazpar2">

	<f:form name="search" class="pz2-searchForm">
		<div class="pz2-mainForm">
			<p>
				<f:form.select options="{pazpar2neuerwerbungen.months}"
							 name="months"
							 class="pz2-months"
							 value="{pazpar2neuerwerbungen.defaultMonth}"
							 additionalAttributes="{onchange:'pz2-checkboxChanged(this);'}"/>
				<f:link.external class="pz2-rsslink"
								uri="TODO"
								additionalAttributes="{type: 'text/xml'}">
					<f:translate key="Die aktuelle Liste als RSS-Feed abonnieren."/>
				</f:link.external>
			</p>

			<f:form.submit name="button" value="<f:translate key='Anzeigen'/>" />

			<div class="pz2-fieldsets">
				<f:for each="{pazpar2neuerwerbungen.subjects}" as="section">
					<fieldset class="pz2-fieldset-<f:for each='{section.GOKs}' as='GOK' key='GOKIndex'><f:if condition='{GOKIndex} != 0'>-</f:if>{GOK}</f:for>">
						<legend>
							<label>
								<f:form.checkbox name="pz2subject"
												value="<f:for each='{section.GOKs}' as='GOK' key='GOKIndex'><f:if condition='{GOKIndex} != 0'>,</f:if>{GOK}</f:for>"
												onclick="groupCheckboxChanged(this);"/>
								<f:translate key="{section.name}"/>
							</label>
						</legend>

						<ul>
							<f:for each="{section.subjects}" as="subject">
								<li {f:if(condition: subject.inline, then: 'class="inline"')}>
									<f:if condition="{subject.break} == 1"><br></f:if>
									<label>
										<f:form.checkbox name="pz2subject"
												value="<f:for each='{subject.GOKs}' as='GOK' key='GOKIndex'><f:if condition='{GOKIndex} != 0'>,</f:if>{GOK}</f:for>"

												onclick="checkboxChanged(this);"/>
										<f:translate key="{subject.name}"/>
									</label>
								</li>
							</f:for>
						</ul>
					</fieldset>
				</f:for>
			</div>
		</div>
	</f:form>

	<div id="pz2-recordView">
		<div class="pz2-pager">
			<div class="pz2-progressIndicator"></div>
		</div>

		<div id="pz2-navi"></div>
		<div id="pz2-termLists"></div>
		<div id="pz2-results"></div>
		<div id="pz2-stat"></div>
	</div> <!-- #pz2-recordView -->

	<div id="pz2-targetView" style="display: none">
		<div id="pz2-byTarget">
			<f:translate key="No information available yet."/>
		</div>
	</div> <!-- #pz2-targetView -->

	<div id="pz2-switchMenu">
		[<a href="#" onclick="switchView('pz2-recordView')"><f:translate key="Results"/></a>,
	 	<a href="#" onclick="switchView('pz2-targetView')"><f:translate key="Status"/></a>]
	</div> <!-- #pz2-switchMenu -->

</div> <!-- #pazpar2 -->
