<div id="pazpar2">

	<f:form name="search" class="pz2-searchForm">
		<div class="pz2-mainForm">
			<f:for each="{pazpar2neuerwerbungen.subjects}" as="section">
				<fieldset class="pz2-{section.GOK}">
					<legend>
						<f:if condition="{section.GOK}">
							<f:then>
								<label>
		 							<f:form.checkbox name="pz2subject" 
			 								value="{section.GOK}"
			 								onclick="pz2-groupCheckboxChanged(this);"/>
		 							<f:translate key="{section.name}">{section.name}</f:translate>
		 						</label>
							</f:then>
							<f:else>
								<f:translate key="{section.name}">{section.name}</f:translate>
							</f:else>
						</f:if>
					</legend>
				
					<ul>
						<f:for each="{section.subjects}" as="subject">
							<li>
								<label>
									<f:form.checkbox name="pz2subject" 
										value="<f:for each='{subject.GOK}' as='GOK'>{GOK},</f:for>" 
										onclick="pz2-checkboxChanged(this);"/>
									<f:translate key="{subject.name}">{subject.name}</f:translate>
								</label>
							</li>
						</f:for>
					</ul>
				</fieldset>
			</f:for>
			
			<p>
				<f:link.external class="pz2-rsslink" 
								uri="TODO" 
								additionalAttributes="{type: 'text/xml'}">
					<f:translate key="Die aktuelle Liste als RSS-Feed abonnieren."/>
				</f:link.external>
			</p>
			<f:form.select options="{pazpar2neuerwerbungen.months}"
							 name="months" 
							 class="pz2-months" 
							 additionalAttributes="{onchange:'pz2-checkboxChanged(this);'}"/>

			<f:form.submit name="button" value="<f:translate key='Anzeigen'/>" />
		</div>
	</f:form>

	<div id="pz2-recordView">
		<div class="pz2-pager">
			<div class="pz2-progressIndicator"></div>
		</div>

		<div id="pz2-navi"></div>
		<div id="pz2-termLists"></div>
		<div id="pz2-results"></div>
		<div id="pz2-stat"></div>
	</div> <!-- #pz2-recordView -->

	<div id="pz2-targetView" style="display: none">
		<div id="pz2-byTarget">
			<f:translate key="No information available yet."/>
		</div>
	</div> <!-- #pz2-targetView -->

	<div id="pz2-switchMenu">
		[<a href="#" onclick="switchView('pz2-recordView')"><f:translate key="Results"/></a>,
	 	<a href="#" onclick="switchView('pz2-targetView')"><f:translate key="Status"/></a>]
	</div> <!-- #pz2-switchMenu -->

</div> <!-- #pazpar2 -->
