#contentContainer
{
float: left;
width: 100%;
min-width: 950px;
padding: 2.5em 0 0 0;
font-size: 85%;
margin-bottom: 30px;
}

h1.welcome
{
width: 76%;
font-family: georgia, verdana, sans-serif;
padding: 1em 0 1.6em 0;
color: #fff;
font-weight: normal;
font-size: 1.70em;
letter-spacing:0.18em;
}

#mittelLeiste
{
font-size: 95%;
}