#teaser {

	/*position: absolute;*/

	/*top: 138px;*/

	left: 0;

	width: 99%;

	height: 28px;

	background: #FFFFFF;
	
	padding-left: 7px;
	
	padding-top: 3px;

	font-size: 0.9em;


}



#breadbrumbs {

	/*position: relative;*/

	height: 20px;

	padding-left: 10px;

	color:#666;

}



#breadcrumbs a {

	

	/*display: block;*/

	color:#666;	

	text-decoration: none;

	

	margin: 0;

	
	font-size: 0.8em;
}



