<f:form class="pz2-searchForm">
	<div class="pz2-mainForm">
		<f:form.textbox class="pz2-searchField" name="queryString"  value="{queryString}"/>
		<f:form.submit name="button" value="<f:translate key='Find'/>"/>
	</div>

	<div class="pz2-ranking">
		<f:translate key="Sort by"/>

		<f:form.select name="sort" class="pz2-sort"
			options="{  date-d--author-a--title-a: '{f:translate(key:\'Age\')}',
						author-a--date-d--title-a: '{f:translate(key:\'Author\')}',
						title-a--author-a--date-d: '{f:translate(key:\'Title\')}'   }"
			value="date-d--author-a--title-a" />

		<f:form.select name="perpage" class="pz2-perPage"
			options="{10:10, 20:20, 50:50, 100:100}"
			value="100" />
	</div>
</f:form>