<f:form name="search" class="pz2-searchForm">
	<div class="pz2-mainForm">
		<p>
			<f:form.select options="{pazpar2neuerwerbungen.months}"
						 name="months"
						 class="pz2-months"
						 value="{pazpar2neuerwerbungen.defaultMonth}"
						 additionalAttributes="{onchange:'pz2-checkboxChanged(this);'}"/>
			<a <f:if condition="{pazpar2neuerwerbungen.atomURL}">href="{pazpar2neuerwerbungen.atomURL}"</f:if>
				class="pz2-atomLink"
				type="application/atom+xml"><f:translate key="Die aktuelle Liste als RSS-Feed abonnieren."/></a>
		</p>

		<f:form.submit name="button" value="<f:translate key='Anzeigen'/>" />

		<div class="pz2-fieldsets">
			<f:for each="{pazpar2neuerwerbungen.subjects}" as="section" key="sectionIndex">
				<f:render partial="neuerwerbungen-form-fieldset"
						  arguments="{section: section,
										sectionIndex: sectionIndex}"/>
			</f:for>
		</div>
	</div>
</f:form>