
/*



   Containing structures



*/



html, body {

	margin: 0;

	padding: 0;

}



body {

	background-color: #e9e6ff;

	color: #fff;

	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;

	font-size: 101%;

	text-align: center;/*fuer IE_quirks*/

}



/* mainboxes */

#wrapper {

	position: relative;

	margin: 0px 5%;

	background-color: #fff;

	color: #000;

	text-align: left;/*Aufheben von IE_quirks im BODY*/

	background-image: url(../images/content_background.jpg);  

	background-repeat: no-repeat;

	background-position: bottom right;

	border-right: 1px solid #e9e6ff; /*Hack fÃ¼r Internet Explorer*/

	height:100%;

}



#header  {

	margin: 0px 0px 0px 0px;

	border: 0 none;

	 

     	background-image: url(../images/banner.jpg);

	 background-repeat: repeat-y;

    

	background-color: #c9cdff;

	color: #000;

	height: 120px;

}



#container {

	display: block;

	float: right;

	text-align: right;

	border: 0 none;

	position: relative;

	top: 8px;

	right: 20px;

}



#quicksearch {

	margin: 10px;

	text-align: left;

	vertical-align: middle;

}



#head_navigation {

	clear: both;

	text-align: left;

	margin: 20px 10px 10px 10px; 

}


.blank {

	margin: 0px 0px 0px 0px;

	padding: 0;

	background-color: #fff;

	width: 10px;

	height: 15px;

}



#top_blank {

	position: relative;

	top: 0;

	left: 180px; /*same as menue-width, IE shows as extra paragraph */

	visibility: hidden;

}



#bottom_blank {

	position: relative;

	bottom: 0;

	left: 180px; /*same as menue-width, IE shows as extra paragraph */

}



#content {/* margin-left as much as menue width*/

	background-color: transparent;

	color: #000;

	padding: 5px 20px 20px 20px ;

	margin: 0px 0px 0px 185px;

	min-height: 380px;

	/*border-left: 1px solid #006;*/

	clear: right;

}



/* ---- */

.breaker {

	clear: both;

}


/*

   Formats

*/



input.button:hover {

	cursor: pointer;

}





/* set all to 0 */

h1, h2, h3, h4, p, ul, li, form, table {

	margin: 0;

	padding: 0;

}



/* headings */

h1, h2, h3 {

	margin: 10px 0px 20px 0px;

}

h1 {

	background-color: transparent;

	font-size: 200%;

	margin: 30px 15px;

	vertical-align: middle;

}

h2 {

	font-size: 120%;

	letter-spacing: 1pt;

}

h3 {

	font-size: 110%;

	letter-spacing: 1pt;

}

h4 {

	font-size: 95%;

	letter-spacing: 1pt;

	margin-top: 20px;

}

h5 {

	font-size: 95%;

	letter-spacing: 1pt;

	margin: 0px;

}



/* text */

p, li {

	font-size: 85%;

}



#header a.home {

	display: block; 

	width: 100%; 

	height: 120px;

	/*background-image: url(/images/banner.jpg);*/

	background-repeat: no-repeat;

	position: absolute;

}



#content p, #content li {

	line-height: 150%;

	margin: 7px 0px 8px 0px;

}

#menue p, #teaser p {

	padding: 10px 5px 0px 10px;

}

#menue p.linear {

	padding: 0px 5px 0px 10px;

}

ul {

	margin: 0px 0px 0px 20px;

}

#quicksearch form {

	margin-bottom: 2px;

}

table {

	color: #000;

	font-size:85%;

}

td {

	/*padding:15px;*/

	vertical-align:top;

}





/* Links */

#content a {

	text-decoration:none;

	color: #0f1eb7;

}

#content a:hover {

	text-decoration: underline;

}

#content a:visited {

	color: #50a;

}

#content a.button {

	text-decoration: none;

	font-size: 85%; /* same as p.font-size */

	padding: 0px 3px 2px 3px;

	border-right: 1px solid #999;

	border-bottom: 1px solid #999;

	background-color: #f0f0f0;

	color: #000;

}

#quicksearch a {

	text-decoration: none;

	font-size: 75%; 

	background-color: #f0f0f0;

	color: #000;

	padding: 0px 3px 0px 3px;

	margin-left:1px;

	border-right: 1px solid #999;

	border-bottom: 1px solid #999;

}

#quicksearch a:hover {

	border: 1px solid #309;

	/*border-left: 1px solid #999;

	   border-top: 1px solid #999;*/

}



#content a.titlelink:visited {

	color: #0f1eb7;

}



/* links: menu */

#menue {

	float: left;

	position: relative;

	top: 0px;

	left: 0px;

	width: 180px;

	background-color: #fff;

	
	margin: 0px;

		margin: 0;


	clear: both;

}

#menue div {

	text-decoration: none;

	width: 155px;
	
	font-size: 0.9em;
	
	display: block;

	padding: 1 2 2 0 px;

	margin: 5px;

	font-size: 0.9em;
}

#menue div.top_nav-no a {

	background-color: #38d;
	
	color:#fff;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;

	text-decoration: none;

	display: block;
	
	border: 1px solid #ddd;

}

#menue div.top_nav-no:visited {

	background-color: #38d;

	color: #fff;

}

#menue div.top_nav-no a:hover, div.top_nav-act a {

	background-color: #fff;

	color: #38d;

}

#menue div.top_nav-act a  {

	background-color: #fff;

	color: #38d;
	
	border: 1px solid #ddd;

}

#menue div.sub_nav-no {

	text-indent: 4px; /* same indent as top_nav */

	color: #38d;

}






#menue .disabled {

	display: block;

	color: #ccc;

	font-size: 95%; /* related to p.fontsize */

}

#menue .disabled {

	display: block;

	color: #ccc;

	font-size: 95%; /* related to p.fontsize */

}



/* links: head navigation */

#head_navigation a {

	text-decoration: none;

	font-size: 80%;

	margin: 1px 0px 1px 0px;

	padding: 0px 3px 0px 3px;

	border: 1px solid #999;

	margin-top: 10px;

}

#head_navigation a:link {

	background-color: #fafafa;

	color: #0f1eb7;

}

#head_navigation a:visited {

	background-color: #fafafa;

	color: #0f1eb7;

}

#head_navigation a:hover {

	background-color: #38d;

	color: #fff;

}

#head_navigation a:active {

	background-color: #999;

	color: #fff;

}



#head_navigation .disabled {

	font-size: 80%;

	margin: 1px 0px 1px 0px;

	padding: 0px 3px 0px 3px;

	border: 1px solid #999;

	margin-top: 10px;

	color: #aaa;

}



/* others */

.invis {

	display: none;

}

.justify {

	text-align:justify;

}

img {

	border: none;

}



.no_js_warning {

	color: red;

}