{namespace pz2=Tx_Pazpar2_ViewHelpers}

<div id="pazpar2" class="pz2-noJS">
	<div class="pz2-JSNote">
		<f:translate key="Search is better with JavaScript."/>
	</div>

	<f:render partial="form"/>

	<div id="pz2-recordView">
		<div class="pz2-pager">
			<div class="pz2-progressIndicator"></div>
			<f:if condition="{f:count(subject: results)} > 0">
				<div class="pz2-recordCount">
					<f:count subject="{results}"/>
					<f:if condition="{f:count(subject: results)} == 1">
						<f:then><f:translate key="Result"/></f:then>
						<f:else><f:translate key="Results"/></f:else>
					</f:if>
				</div>
			</f:if>
		</div>

		<div id="pz2-navi"></div>
		<div id="pz2-termLists"></div>
		<div id="pz2-results">
			<f:if condition="{f:count(subject: results)} > 0">
				<f:then>
					<ol>
						<f:for each="{results}" as="result">
							<pz2:result result="{result}"/>
						</f:for>
					</ol>
				</f:then>
				<f:else>
					<f:if condition="{queryString}">
						<f:translate key="No Results"/>
					</f:if>
				</f:else>
			</f:if>
		</div>
		<div id="pz2-stat"></div>
	</div> <!-- #pz2-recordView -->

	<div id="pz2-targetView" style="display: none">
		<div id="pz2-byTarget">
			<f:translate key="No information available yet."/>
		</div>
	</div> <!-- #pz2-targetView -->

	<div id="pz2-switchMenu">
		[<a href="#" onclick="switchView('pz2-recordView')"><f:translate key="Results"/></a>,
	 	<a href="#" onclick="switchView('pz2-targetView')"><f:translate key="Status"/></a>]
	</div> <!-- #pz2-switchMenu -->

</div> <!-- #pazpar2 -->
