<f:layout name="default" />

<f:section name="content">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Edit blog "{blog.title}"</h1></div>
	<p class="bodytext">Edit the information about your blog below:</p>
	<f:render partial="formErrors" arguments="{for: 'blog'}" />
	<f:form method="post" action="update" name="blog" object="{blog}">
		<label for="title">Title</label><br />
		<f:form.textbox property="title" /><br />
		<label for="description">Description</label><br />
		<f:form.textarea property="description" rows="8" cols="46" /><br />
		<label for="administrator">Administrator</label><br />
		<f:form.select property="administrator" value="{blog.administrator}" options="{administrators}" optionLabelField="name"><select><option>dummy</option></select></f:form.select><br />
		<f:form.submit class="submit" value="Submit"/>
	</f:form>
</f:section>
