<f:layout name="default" />
<f:section name="content">
	<p>Welcome to the Blog Example! This installation serves as a demonstration for
	basic development techniques used in Extbase/FLOW3 applications.</p>
	<f:if condition="{blogs}">
		<f:then>
			<p>Here is a list of blogs:</p>
			<dl>
				<f:for each="{blogs}" as="blog">
					<dt>
						<f:link.action action="index" controller="Post"	arguments="{blog : blog}">
							{blog.title} (<f:count subject="{blog.posts}" />)
						</f:link.action>
					</dt>
					<dd>
						<f:format.nl2br>{blog.description}</f:format.nl2br>
						<f:link.action action="edit" arguments="{blog : blog}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{blog : blog}">Delete</f:link.action>
					<dd>
				</f:for>
			</dl>
			<p>
				<f:link.action action="new">Create another blog</f:link.action>
				<br /><f:link.action action="populate">Create example data</f:link.action>
				<br /><f:link.action action="deleteAll">Delete all Blogs [!!!]</f:link.action>
			</p>
		</f:then>
		<f:else>
			<p>
				<strong><f:link.action action="new">Create your first blog</f:link.action></strong>
				<br /><f:link.action action="populate">Create example data</f:link.action>
			</p>
		</f:else>
	</f:if>
</f:section>
