@CHARSET "UTF-8";

.dbis-list-legend ul li.dbis-list-legend-one {
	background-image: url("../img/dbis-list_1.png");
}
.dbis-list-legend ul li.dbis-list-legend-two {
	background-image: url("../img/dbis-list_2.png");
}
.dbis-list-legend ul li.dbis-list-legend-three {
	background-image: url("../img/dbis-list_3.png");
}
.dbis-list-legend ul li.dbis-list-legend-four {
	/*background-image: url("../img/dbis-list_4.png");*/
	background-image: url("../img/dbis-list_germany.png");
}
.dbis-list-legend ul li.dbis-list-legend-five {
	/*background-image: url("../img/dbis-list_5.png");*/
	background-image: url("../img/ezb-list_euro.png");
}
.dbis-list-legend ul li.dbis-list-legend-six {
	background-image: url("../img/dbis-list_4.png");
}
.dbis-list-legend ul li.dbis-list-legend-seven {
	background-image: url("../img/dbis-list_5.png");
}
.dbis-list-legend ul li.dbis-list-legend-eight {
    background-image: url("../img/dbis-list_6.png");
}
.dbis-list-legend ul li.dbis-list-legend-nine {
	background-image:url("../img/dbis-list_7.png");
}

.dbis-list-legend ul li.dbis-list-legend-one,
.dbis-list-legend ul li.dbis-list-legend-two,
.dbis-list-legend ul li.dbis-list-legend-three,
.dbis-list-legend ul li.dbis-list-legend-four,
.dbis-list-legend ul li.dbis-list-legend-five,
.dbis-list-legend ul li.dbis-list-legend-six,
.dbis-list-legend ul li.dbis-list-legend-seven,
.dbis-list-legend ul li.dbis-list-legend-eight,
.dbis-list-legend ul li.dbis-list-legend-nine  {
	background-repeat: no-repeat;
	background-position: 0 5px;
	list-style-image: none !important;
	margin: 0 !important;
	padding: 0 0 0.2em 2.3em !important;
}