@CHARSET "UTF-8";

.ezb-list-legend ul li.ezb-list-legend-one {
	background-image: url("../img/ezb-list_1.png");
}
.ezb-list-legend ul li.ezb-list-legend-two {
	background-image: url("../img/ezb-list_2.png");
}
.ezb-list-legend ul li.ezb-list-legend-six {
	background-image: url("../img/ezb-list_6.png");
}
.ezb-list-legend ul li.ezb-list-legend-four {
	background-image: url("../img/ezb-list_4.png");
}
.ezb-list-legend ul li.ezb-list-legend-one,
.ezb-list-legend ul li.ezb-list-legend-two,
.ezb-list-legend ul li.ezb-list-legend-six,
.ezb-list-legend ul li.ezb-list-legend-four {
	background-repeat: no-repeat;
	background-position: 0 5px;
	list-style-image: none !important;
	margin: 0 !important;
	padding: 0 0 0.2em 2.3em !important;
}

.hiddenezb, #e-search .hiddenezb{
	display:none;
}