{namespace fed=Tx_Fed_ViewHelpers}

<f:layout name="ImageCrop" />
<fed:style href="{f:uri.resource(extensionName: 'fed', path: 'Javascript/Jcrop/jquery.Jcrop.css')}" />
<fed:script src="{f:uri.resource(extensionName: 'fed', path: 'Javascript/Jcrop/jquery.Jcrop.min.js')}" />
<fed:script src="{f:uri.resource(extensionName: 'fed', path: 'Javascript/Widget/ImageCropper.js')}" />
<fed:script>
	var <fed:data.var name="id" />;
	jQuery(document).ready(function() {
		setTimeout(function() {
			<fed:data.var name="id" /> = jQuery('#<fed:data.var name="id" />').imageCropper({
				'uploader': <f:if condition="{uploader}" then="{uploader}.plupload('getUploader')" else="null" />,
				'field': <f:if condition="{uploader}" then="{uploader}.prev()" else="null" />,
				'url': '<f:if condition="{url}" then="{url}" else="{f:widget.uri(action: 'crop', ajax: 1)}" />',
				'path': '<fed:data.var name="path" />',
				'maxWidth': <fed:data.var name="maxWidth" />,
				'maxHeight': <fed:data.var name="maxHeight" />,
				'aspectRatio': <fed:data.var name="aspectRatio" />,
				'previewWidth': <fed:data.var name="previewWidth" />,
				'previewHeight': <fed:data.var name="previewHeight" />
			});
		}, 0); // setTimeout sends function call to end of stack without delaying
	});
</fed:script>

<div id="{id}">
	<f:for each="{fed:data.func(func: 'explode', arguments: {0: ',', 1: sections})}" as="section">
		<f:render section="{section}" />
	</f:for>
</div>
<br style="clear: both;" />