{namespace fed=Tx_Fed_ViewHelpers}
{namespace render=Tx_Fed_ViewHelpers_PageRenderer}

<f:layout name="Widget/Solr" />
<render:addJsFooterFile file="{f:uri.resource(
	extensionName: 'fed',
	path: 'Javascript/Widget/Solr.js'
	)}" />
<render:addCssFile file="{f:uri.resource(
	extensionName: 'fed',
	path: 'Stylesheet/Widget/Solr.css'
	)}" />
<render:addJsInlineCode name="fed-solr-init">
	jQuery('#{arguments.id}').solr(
		<fed:raw>{options}</fed:raw>,
		'<f:uri.action pageType="1324054607" action="search" controller="Solr" pageUid="{arguments.options.pageUid}" />'
	);
</render:addJsInlineCode>

<div id="{arguments.id}">
	<f:render section="SearchField" />

	<f:render section="Facets" />

	<f:render section="Statistics" />
	<f:if condition="{arguments.options.paginate}">
		<f:render section="Paginate" />
	</f:if>
	<f:render section="Results" />
	<f:if condition="{arguments.options.paginate}">
		<f:render section="Paginate" />
	</f:if>
	<f:render section="Statistics" />
</div>
