#pazpar2 a {
	text-decoration:none;
}

#pazpar2 ol {
	margin: 0px;
}

.pz2-clear {
	display: block;
	height: 0;
	clear: both;
}


/* form */

.pz2-mainForm {
	line-height: 150%;
}

.pz2-fieldContainer {
	float: left;
	clear: left;
}

.pz2-searchField {
	display: block;
	float: left;
	margin: 0px 6px 2px 0px;
	padding: 2px;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	color: #333333;
	background: #f3f5f9;
	border-style: solid;
	border-width: 1px;
	border-color: #b3b3b3 #d2d2d2 #d2d2d2 #b3b3b3;
}

.pz2-basic .pz2-searchField {
	width: 400px;
	height: 22px;
	padding: 4px;
}

.pz2-searchForm.pz2-basic .pz2-field-all .pz2-searchField {
	font-size: 133%;
}

.pz2-extended .pz2-searchField {
	width: 250px; /* 400px - 130px - 20px to end up at the same total width as basic search */
	margin-left: 20px;
}

.pz2-mainForm label.pz2-textFieldLabel {
	display: block;
	float: left;
	width: 130px;
	text-align: right;
}

.pz2-searchForm.pz2-basic label, .pz2-searchForm.pz2-basic .pz2-extraFields {
	display: none;
}

.pz2-submitButton {
	display: block;
	float: left;
	height: 32px;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAfCAYAAAAmyadiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpEjcENwDAIAxHDdP/lAAN5FLdN+jmdLWSkui/tKtE6SEAUmaIRNARt4E6DD2xg7uyIN9qOp/Pg8RNjr4DzvyUffc/HutZgtdwCDACV2Vpj5GKthgAAAABJRU5ErkJggg==) repeat-x scroll 0 100% #f3f6fb;
	border-style: solid;
	border-width: 1px;
	border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
	border-radius: 3px 3px 3px 3px;
	border-right: 1px solid #b4b4b4;
	color: #555555;
	font-weight: bold;
	line-height: 100%;
	padding: 3px 12px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px rgba(255, 255, 255, 0.75);
	text-transform: uppercase;
}

.pz2-extended .pz2-submitButton {
	height: 23px;
}

.pz2-submitButton:active {
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAfCAYAAAAmyadiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE9JREFUeNpMzUsKwEAIA9Ag43/R+9+2RmiZzSNmEQHgET0KUTsQMycGcZ8UEZDMvFORrGIiTeqjq++uSfLM2C7/vU0zGnzknN+/iw6vAAMA9dIDPHw3gBIAAAAASUVORK5CYII=) repeat-x scroll 0 100% #e7e9ed;
}

.pz2-extendedLink {
	display: block;
	float: left;
	line-height: 33px;
	margin-left: 0.5em;
}

.pz2-searchForm.pz2-extended {
	line-height: 25px;
}


.pz2-form-animating .pz2-extraFields {
	display:block;
}



/* results */

.pz2-ranking {
	display: none;
}

#pz2-navi {
	margin-bottom: 1em;
}

#pz2-recordView {
	padding-top: 20px;
}

.pz2-recordLink {
	display: block;
}

.pz2-recordLink:after {
	font-family: Helvetica, Arial, sans-serif;
	content:'\0000bb';
	margin-left: 0.33em;
}

.pz2-recordLink:hover:after {
	color: #00247d;
}

.pz2-detailsVisible .pz2-recordLink:after {
	display: none;
}

#pz2-results {
	margin-right: 220px;
}

#pz2-results ol.pz2-resultList {
	padding-left: 35px;
	list-style-type: none;
	float: left; /* required so we don't clear the sidebar/faceting when clearing our <li>s */
}

#pz2-results ol.pz2-resultList li {
	margin-bottom: 0.5em;
	padding-left: 5px;
	position: relative;
	clear: both;
	border-left: 1px solid transparent;
}

#pz2-results ol.pz2-resultList li.pz2-detailsVisible,
#pz2-results ol.pz2-resultList li:hover {
	border-left: 1px solid #eee;
}

#pazpar2 a img {
	border: 0px transparent none;
}


#pazpar2 .pz2-JSNote {
	margin-bottom: 1em;
}

#pz2-stat {
	clear: both;
}



/* facets */

#pz2-termLists {
	float:right;
	width: 200px;
}

#pz2-termLists h4 {
	display: none;
}

.pz2-termList {
	margin-bottom: 1em;
}

.pz2-termList h5 {
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0.25em;
}

.pz2-termList ol {
	list-style-type: none;
	margin-bottom: 1em;
	padding: 0;
}

.pz2-termList li a {
	position: relative;
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

.pz2-termList-author ol {
	text-transform: capitalize;
}

.pz2-termList-medium li a span.pz2-facetName {
	margin-left: 25px;
	position: relative;
	line-height: 19px;
}

.pz2-termList-medium .pz2-mediaIcon {
	position: absolute;
	top: -1px;
	left: -2px;
}

.pz2-facetCount {
	color: #999;
	margin-left: 0.3em;
}

.pz2-activeFacet {
	font-weight: bold;
}

.pz2-termList li a.pz2-facetCancel, .pz2-facetCancel {
	padding-left: 0.3em;
	text-indent: 0;
	color: #f00;
}

.pz2-termList span {
	position: relative;
}

#pz2-histogram-tooltip {
	font-weight: bold;
	font-size: 71%;
	background: #fff;
	border: 1px solid #f6f3ff;
	padding: 2px;
	background-color: #fff;
	opacity: 0.8;
}



/* progress indicator
*/
.pz2-progressIndicator {
	position: absolute;
	display: block;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background: #f6f3ff;
}



/* pager
*/
.pz2-pager {
	margin: 20px 0;
	position: relative;
	text-align: center;
}

.pz2-pager .pz2-pageNumbers {
	position: relative;
	margin-right: 240px;
}

.pz2-next, .pz2-prev {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
}

.pz2-pageCount-0 {
	visibility: hidden;
}

.pz2-pager ol {
	list-style-type: none;
	padding: 0px;
	display: inline;
}

.pz2-pager li {
	display: inline;
}

.pz2-pager a, .pz2-prev, .pz2-next {
	padding: 0.3em;
}

.pz2-pager .pz2-currentPage {
	font-weight: bold;
	padding: 0.3em;
}

.pz2-recordCount {
	position: absolute;
	top: 0px;
	right: 0px;
}




/* item records
*/
.pz2-mediaIcon {
	display:block;
	height: 20px;
	width: 20px;
	position: absolute;
	left: -30px;
	/* Media icon sprite. Position defaults to other/unknown icon. */
	background: url(pz2-media-icons.png) transparent no-repeat;
	background-position: 0px -40px;
}

.pz2-mediaIcon.article { background-position: 0px 0px; }
.pz2-mediaIcon.audio-visual { background-position: -20px 0px; }
.pz2-mediaIcon.book { background-position: -40px 0px; }
.pz2-mediaIcon.electronic { background-position: -60px 0px; }
.pz2-mediaIcon.journal { background-position: 0px -20px; }
.pz2-mediaIcon.map { background-position: -20px -20px; }
.pz2-mediaIcon.microform { background-position: -40px -20px; }
.pz2-mediaIcon.music-score { background-position: -60px -20px; }
.pz2-mediaIcon.recording { background-position: -20px -40px; }
.pz2-mediaIcon.website { background-position: -40px -40px; }
.pz2-mediaIcon.multiple { background-position: -60px -40px; }


.pz2-title-main {
	font-weight: bold;
}

.pz2-item-multivolume-title {
	font-style: italic;
}

.pz2-item-responsibility {
	font-style: italic;
}

.pz2-details {
	font-size: 85%;
	padding: 10px 0 20px 0;
}

.pz2-details dt {
	text-align: right;
	font-weight: bold;
	width: 10em;
	float: left;
	clear: right;
}

.pz2-details dd {
	margin-left: 10.3em;
}

.pz2-details dt, .pz2-details dd {
	margin-bottom: 0.5em;
}

.pz2-detail-availability td a {
	margin-bottom: 2px;
}

.pz2-detail-catalogueLink {
	font-weight: bold;
	white-space: nowrap;
}

.pz2-detail-catalogueLink:after {
	content: '\002192';
	margin-left: 0.2em;
}

.pz2-details ul {
	padding-left: 2em;
}

/* Cancel the clear done for list items in the main list on lists in .pz2-details. */
#pz2-results ol.pz2-resultList .pz2-details li {
	clear: none;
	border-left: 0px none;
}


#pz2-results .pz2-details ul li {
	margin: 0;
}




/* ZDB Info 
*/
.pz2-ZDBLibraryName {
	display: block;
	font-style: italic;
	color: #666;
}

a.pz2-ZDBGeneralInfo {
	display:block;
}




/* Google Books 
*/
#googlePreviewContainer {
	position: absolute;
	left: 2em;
	right: 2em;
	top: 2em;
	bottom: 2em;
}

#googlePreview {
	height: 550px;
}



/*
Hide/Show elements depending on JavaScript status.
Markup comes with a .pz2-noJS class on the #pazpar2 element.
pz2-client.js removes this once it it loaded.

                    with JS    without JS
.pz2-JSNote         hide       show
.pz2-switchMenu     show       hide
*/
#pazpar2 .pz2-JSNote {
	display: none;
}

#pazpar2.pz2-noJS .pz2-JSNote {
	display: block;
}

#pazpar2.pz2-noJS #pz2-switchMenu, #pazpar2.pz2-noJS .pz2-ranking {
	display: none;
}


/*
status display
*/

#pz2-byTarget {
	font-size: 85%;
	padding-top: 2em;
}

#pz2-targetView #pz2-byTarget thead tr td {
	background: #eee;
	font-weight: bold;
}

#pz2-targetView #pz2-byTarget td {
	padding: 0px 3px;
}